Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

feat(vt): simplify OSC color handling and use ansi.Colorizers
  vt/osc.go
Owners: none

refactor(ansi)!: DA DSR and rename some control sequences
  ansi/ctrl.go
  ansi/cursor.go
  ansi/status.go
Owners: @aymanbagabas

fix(cellbuf)!: check the length of the params slice
  cellbuf/screen_write.go
Owners: none

feat(ansi): add DSR alias for DeviceStatusReport
  ansi/status.go
Owners: @aymanbagabas

feat(ansi): add support for multiple statuses in DeviceStatusReport
  ansi/status.go
Owners: @aymanbagabas

docs(ansi): update ExtendedCursorPositionReport documentation
  ansi/status.go
Owners: @aymanbagabas

fix(ansi): slice allocations
  ansi/ctrl.go
  ansi/mode.go
  ansi/status.go
Owners: @aymanbagabas

feat(vt): support device status reports and device attributes
  vt/csi.go
Owners: none

feat(ansi): add mode setting constants and use them in methods
  ansi/mode.go
Owners: @aymanbagabas

feat(vt): implement DECRQM and use ansi.ModeSetting
  vt/csi.go
  vt/csi_mode.go
  vt/esc.go
  vt/mode.go
  vt/terminal.go
Owners: none

feat(ansi): add LNM and IRM modes
  ansi/mode.go
Owners: @aymanbagabas

feat(vt): add support for VT, FF, and LF control codes and LNM mode
  vt/cc.go
  vt/mode.go
Owners: none

fix(vt): Ignore permanently set modes
  vt/csi_mode.go
Owners: none

fix(vt): linter: field alignment
  vt/screen.go
  vt/terminal.go
Owners: none

feat(ansi): add alt screen save cursor mode
  ansi/mode.go
Owners: @aymanbagabas

feat(vt): support alternate screen save cursor mode
  vt/csi_mode.go
  vt/mode.go
Owners: none

docs(vt): add ansi codes to comments
  vt/csi_screen.go
Owners: none

feat(vt): add bracketed paste mode
  vt/mode.go
Owners: none

feat(ansi): add HPA and HPR functions
  ansi/cursor.go
Owners: @aymanbagabas

fix(vt): handle pending wrap state and define callbacks
  vt/callbacks.go
  vt/cc.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/esc.go
  vt/osc.go
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(ansi)!: add Index escape sequence
  ansi/cursor.go
  ansi/parser_decode.go
Owners: @aymanbagabas

feat(vt): implement Index control code and escape sequence
  vt/cc.go
  vt/esc.go
Owners: none

feat(ansi): add RepeatPreviousCharacter (REP) function
  ansi/screen.go
Owners: @aymanbagabas

feat(vt): implement REP (Repeat Previous Character) CSI sequence
  vt/csi.go
  vt/csi_cursor.go
  vt/terminal.go
  vt/utf8.go
Owners: none

refactor(vt): simplify tab handling
  vt/cc.go
  vt/csi_cursor.go
Owners: none

docs(vt): format csi command comments
  vt/csi_cursor.go
Owners: none

fix(vt): add cursor style callback
  vt/screen.go
Owners: none

fix(vt): buffer resize order
  vt/buffer.go
Owners: none

fix(vt): mouse motion events and modifiers
  vt/mouse.go
Owners: none

fix(vt): update cursor position after line break
  vt/utf8.go
Owners: none

fix(vt): tabs stops, cursor movements, and screen margins
  vt/buffer.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_screen.go
  vt/options.go
  vt/screen.go
  vt/tabstop.go
  vt/terminal.go
  vt/utf8.go
  vt/vt.go
Owners: none

chore(vt): add tests
  vt/terminal_test.go
Owners: none

fix(golden): always show escaped golden files when comparing the outputs
  exp/golden/golden.go
Owners: @caarlos0

fix(golden): always show escaped golden files when comparing the outputs
  exp/golden/golden.go
Owners: @caarlos0

feat(example): implement a faketty example
  examples/faketty/main.go
  examples/go.mod
  examples/go.sum
Owners: none

chore: examples: update go.mod and go.sum
  examples/go.mod
  examples/go.sum
  go.work.sum
Owners: none

fix: examples: use a real module path
  examples/go.mod
Owners: none

fix: xpty.WaitProcess
  xpty/xpty.go
Owners: @aymanbagabas

chore(examples): go mod tidy
  examples/go.mod
  examples/go.sum
Owners: none

fix(vt): remove unused functions
  vt/utils.go
Owners: none
