Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

chore(powernap): updates
  powernap/example/custom_config.go
  powernap/pkg/config/config.go
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/protocol.go
  powernap/pkg/lsp/sync.go
  powernap/pkg/lsp/types.go
  powernap/pkg/registry/registry.go
  powernap/pkg/transport/connection.go
  powernap/pkg/transport/router.go
  powernap/pkg/transport/transport.go
Owners: none

chore(powernap): updates
  powernap/pkg/config/config.go
  powernap/pkg/lsp/types.go
Owners: none

chore(powernap): updates
  powernap/pkg/lsp/types.go
Owners: none

feat(vt): add support for in-band terminal resizing
  vt/csi_mode.go
  vt/terminal.go
Owners: none

chore(powernap): updates
  powernap/example/custom_config.go
  powernap/example/main.go
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/language.go
  powernap/pkg/lsp/protocol.go
  powernap/pkg/lsp/protocol/LICENSE
  powernap/pkg/lsp/protocol/interface.go
  powernap/pkg/lsp/protocol/pattern_interfaces.go
  powernap/pkg/lsp/protocol/tables.go
  powernap/pkg/lsp/protocol/tsdocument-changes.go
  powernap/pkg/lsp/protocol/tsjson.go
  powernap/pkg/lsp/protocol/tsprotocol.go
  powernap/pkg/lsp/protocol/uri.go
  powernap/pkg/lsp/sync.go
  powernap/pkg/lsp/types.go
  powernap/pkg/registry/registry.go
Owners: none

chore(powernap): updates
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/language.go
  powernap/pkg/lsp/sync.go
  powernap/pkg/lsp/types.go
  powernap/pkg/registry/registry.go
Owners: none

fix(powernap): use slog
  powernap/go.mod
  powernap/go.sum
  powernap/pkg/lsp/client.go
  powernap/pkg/registry/registry.go
  powernap/pkg/transport/connection.go
  powernap/pkg/transport/transport.go
Owners: none

fix(powernap): use protocol
  powernap/pkg/lsp/client.go
Owners: none

fix(conpty): ensure ConPty type implement the pty interface
  conpty/conpty.go
  conpty/conpty_other.go
Owners: @aymanbagabas

chore(xpty): bump conpty to v0.1.1
  xpty/go.mod
  xpty/go.sum
Owners: @aymanbagabas

chore(vt): update dependencies
  vt/go.mod
  vt/go.sum
Owners: none

chore(vt): bump ansi dependency to latest main
  vt/go.mod
  vt/go.sum
Owners: none

feat(vt): add String, Render, and WriteString methods to Emulator
  vt/terminal.go
Owners: none

refactor(vt): rename Terminal to Emulator
  vt/cc.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/csi_sgr.go
  vt/dcs.go
  vt/emulator.go
  vt/emulator_test.go
  vt/esc.go
  vt/focus.go
  vt/handlers.go
  vt/key.go
  vt/mode.go
  vt/osc.go
  vt/utf8.go
Owners: none

fix(vt): rename receiver t to e in SendMouse method
  vt/mouse.go
Owners: none

feat: add codecov coverage to all workflows
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/color.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/powernap.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/toner.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

feat: add codecov coverage to all workflows (#565)
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/color.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/powernap.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/toner.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

feat: git/ignore
  git/ignore/go.mod
  git/ignore/go.sum
  git/ignore/matcher.go
  git/ignore/matcher_test.go
  git/ignore/pattern.go
  git/ignore/pattern_test.go
  go.work
Owners: none

fix: syntax errors while rewriting tests
  git/ignore/pattern_test.go
Owners: none

fix: rename to x/gitignore
  git/ignore/go.mod
  gitignore/go.mod
  gitignore/go.sum
  gitignore/matcher.go
  gitignore/matcher_test.go
  gitignore/pattern.go
  gitignore/pattern_test.go
  go.work
  go.work.sum
Owners: none

feat: gitignore (#566)
  gitignore/go.mod
  gitignore/go.sum
  gitignore/matcher.go
  gitignore/matcher_test.go
  gitignore/pattern.go
  gitignore/pattern_test.go
  go.work
  go.work.sum
Owners: none

feat: add watchFileChanges
  powernap/pkg/config/config.go
Owners: none

fixup! feat: add watchFileChanges
  powernap/pkg/lsp/client.go
Owners: none

feat(powernap): better support zig, some cleanup
  powernap/pkg/config/config.go
  powernap/pkg/lsp/language.go
  powernap/pkg/lsp/protocol/tsprotocol.go
  powernap/pkg/registry/registry.go
  powernap/pkg/transport/connection.go
Owners: none

feat(powernap): better support zig, some cleanup (#567)
  powernap/pkg/config/config.go
  powernap/pkg/lsp/language.go
  powernap/pkg/lsp/protocol/tsprotocol.go
  powernap/pkg/registry/registry.go
  powernap/pkg/transport/connection.go
Owners: none

feat(ansi): osc 9 progress support
  ansi/progress.go
  ansi/progress_test.go
Owners: @aymanbagabas

chore(lint): gofumpt changed rules it seems
  ansi/kitty/options.go
  ansi/mode.go
  ansi/mouse.go
  ansi/parser_decode.go
  ansi/sixel/color.go
  ansi/sixel/raster.go
  ansi/sixel/repeat.go
  ansi/style.go
  ansi/truncate.go
  cellbuf/buffer.go
  cellbuf/cell.go
  cellbuf/hardscroll.go
  cellbuf/hashmap.go
  cellbuf/screen.go
  conpty/conpty_windows.go
  conpty/exec_windows.go
  go.work.sum
  input/driver_windows.go
  input/driver_windows_test.go
  input/mouse.go
  mosaic/mosaic_test.go
  powernap/pkg/lsp/protocol/uri.go
  xpty/pty.go
  xpty/xpty.go
Owners: @aymanbagabas

feat(ansi): osc 9 progress support (#574)
  ansi/progress.go
  ansi/progress_test.go
Owners: @aymanbagabas

fix(ansi): check pct bounds
  ansi/progress.go
  ansi/progress_test.go
Owners: @aymanbagabas

fix: typo
  ansi/progress.go
Owners: @aymanbagabas

Update cellbuf/hardscroll.go
  cellbuf/hardscroll.go
Owners: none

fix: nolint
  cellbuf/screen.go
  input/mouse.go
Owners: @aymanbagabas

chore: revert unwanted change
  go.work.sum
Owners: none

fix(conpty): expose default consts
  conpty/conpty_windows.go
  conpty/doc.go
Owners: @aymanbagabas

feat(conpty): expose underlying conpty file descriptors
  conpty/conpty_windows.go
Owners: @aymanbagabas

chore(ansi): rename progress bar functions and constants
  ansi/progress.go
  ansi/progress_test.go
Owners: @aymanbagabas

chore(ansi): add tests for SetWarningProgressBar
  ansi/progress_test.go
Owners: @aymanbagabas

chore(lint): gofumpt changed rules it seems (#575)
  ansi/kitty/options.go
  ansi/mode.go
  ansi/mouse.go
  ansi/parser_decode.go
  ansi/sixel/color.go
  ansi/sixel/raster.go
  ansi/sixel/repeat.go
  ansi/style.go
  ansi/truncate.go
  cellbuf/buffer.go
  cellbuf/cell.go
  cellbuf/hardscroll.go
  cellbuf/hashmap.go
  cellbuf/screen.go
  conpty/conpty_windows.go
  conpty/exec_windows.go
  input/driver_windows.go
  input/driver_windows_test.go
  input/mouse.go
  mosaic/mosaic_test.go
  powernap/pkg/lsp/protocol/uri.go
  xpty/pty.go
  xpty/xpty.go
Owners: @aymanbagabas

fix(teatest): final model may be nil (#539)
  exp/teatest/app_test.go
  exp/teatest/teatest.go
Owners: @caarlos0

fix(examples/charmtone): use blend function in Lip Gloss v2
  examples/charmtone/guide.go
  examples/go.mod
  examples/go.sum
  go.work
  go.work.sum
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
