Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

chore: remove exp/color; functionality is now in Lip Gloss v2
  .github/workflows/color.yml
  exp/color/blend.go
  exp/color/go.mod
  exp/color/go.sum
  go.work
Owners: none

chore(lint): de-lint examples
  examples/charmtone/main.go
  examples/faketty/main.go
Owners: none

chore(lint): de-lint examples
  examples/charmtone/main.go
  examples/faketty/main.go
Owners: none

chore: remove exp/color; functionality is now in Lip Gloss v2
  .github/workflows/color.yml
  exp/color/blend.go
  exp/color/go.mod
  exp/color/go.sum
  go.work
Owners: none

fix(examples/charmtone): use blend function in Lip Gloss v2
  examples/charmtone/guide.go
  examples/go.mod
  examples/go.sum
  go.work
  go.work.sum
Owners: none

ci: simplify dependabot config
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

ci: simplify dependabot config (#595)
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

feat(powernap): find references
  powernap/pkg/lsp/client.go
Owners: none

feat(powernap): find references (#598)
  powernap/pkg/lsp/client.go
Owners: none

chore(ansi): bump to Go 1.24.2
  ansi/go.mod
  go.work.sum
Owners: @aymanbagabas

chore(ansi): add Notify function tests
  ansi/notification_test.go
Owners: @aymanbagabas

feat(ansi): add DesktopNotification function for OSC 99
  ansi/notification.go
  ansi/notification_test.go
Owners: @aymanbagabas

fix: should not commit go.work
  go.work
  go.work.sum
Owners: none

fix: gitignore go.work
  .gitignore
Owners: none

chore(ansi): add Notify function tests
  ansi/notification_test.go
Owners: @aymanbagabas

feat(ansi): add DesktopNotification function for OSC 99 (#600)
  ansi/notification.go
  ansi/notification_test.go
Owners: @aymanbagabas

fix: remove go.work and go.work.sum (#602)
  .gitignore
  go.work
  go.work.sum
Owners: none

feat(ansi): add URxvtExt function for URxvt perl extensions
  ansi/urxvt.go
  ansi/urxvt_test.go
Owners: @aymanbagabas

fix(vt): correct CPR coordinate order in cursor position reports
  vt/handlers.go
Owners: none

feat(vt): implement scrollback buffer support
  vt/emulator.go
  vt/handlers.go
  vt/screen.go
  vt/scrollback.go
  vt/scrollback_test.go
Owners: none

feat(ansi): add URxvtExt function for URxvt perl extensions
  ansi/urxvt.go
  ansi/urxvt_test.go
Owners: @aymanbagabas

fix(vt): correct CPR coordinate order in cursor position reports
  vt/handlers.go
Owners: none

fix(vt): handle writes after close and use BackgroundColor in Draw
  vt/emulator.go
  vt/esc.go
  vt/safe_emulator.go
Owners: none

fix(vt): lint: remove unused setCursorY method
  vt/screen.go
Owners: none

fix(ci): update lint directory paths
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/powernap.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/toner.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

fix(ci): update lint directory paths
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/powernap.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/toner.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

fix(ansi): double width multiple newlines wrapping
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

Use First() method in uax29
  ansi/width.go
Owners: @aymanbagabas

Replace uniseg with displaywidth
  ansi/go.mod
  ansi/go.sum
  ansi/width.go
  ansi/width_test.go
Owners: @aymanbagabas

Whoops, restore the WcWidth branches
  ansi/parser_decode.go
  ansi/truncate.go
Owners: @aymanbagabas

Tightening & simplifying
  ansi/parser_decode.go
  ansi/truncate.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

Use uax29 and displaywidth throughout
  ansi/go.mod
  ansi/go.sum
  ansi/parser_decode.go
  ansi/truncate.go
  ansi/wrap.go
Owners: @aymanbagabas

Remove unused lint
  ansi/wrap.go
Owners: @aymanbagabas

Fix comment
  ansi/parser_decode.go
Owners: @aymanbagabas

fix(ansi): double width multiple newlines wrapping
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

Fix allocs in Truncate
  ansi/truncate.go
Owners: @aymanbagabas

Fix allocs in TruncateLeft
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

One less alloc on Wrap
  ansi/wrap.go
Owners: @aymanbagabas

perf(ansi): replace uniseg with displaywidth (#606)
  ansi/go.mod
  ansi/go.sum
  ansi/parser_decode.go
  ansi/truncate.go
  ansi/truncate_test.go
  ansi/width.go
  ansi/width_test.go
  ansi/wrap.go
Owners: @aymanbagabas

feat(term): add plan9 support for x/term
  term/term_plan9.go
  term/term_test.go
Owners: @aymanbagabas

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
