Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

fix(cellbuf): ignore invalid combining runes
  cellbuf/buffer.go
Owners: none

feat(cellbuf): add Screen.Flush method
  cellbuf/screen.go
Owners: none

feat(cellbuf): remove SetFinalCursorPosition method in favor of MoveTo
  cellbuf/screen.go
Owners: none

optim(cellbuf): only hide cursor if we have enough changes
  cellbuf/screen.go
Owners: none

optim(cellbuf): move: skip if cursor is already at the position
  cellbuf/screen.go
Owners: none

fix(cellbuf): track phantom cursor state and properly wrap cursor
  cellbuf/screen.go
Owners: none

fix(cellbuf): out of bounds copy in transformLine
  cellbuf/screen.go
Owners: none

fix(cellbuf): ensure we write newly added lines to the screen after resize
  cellbuf/screen.go
Owners: none

feat(cellbuf): implement set content wrapping and add print methods
  cellbuf/screen.go
Owners: none

chore(examples): update and fix examples
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

feat(cellbuf): append runes to cell without changing width and accept escape sequences
  cellbuf/cell.go
  cellbuf/screen.go
Owners: none

fix(cellbuf): lower-right corner cell don't go into pending wrap
  cellbuf/screen.go
Owners: none

fix(cellbuf): simplify logic for getting non-empty zero cells out
  cellbuf/screen.go
Owners: none

fix(exp/golden): normalize line breaks to ensure tests pass on windows (#365)
  exp/golden/golden.go
  exp/golden/golden_test.go
  exp/golden/testdata/TestRequireWithLineBreaks.golden
Owners: @caarlos0

fix(exp/golden): normalize line breaks to ensure tests pass on windows
  exp/golden/golden.go
  exp/golden/golden_test.go
  exp/golden/testdata/TestRequireWithLineBreaks.golden
Owners: @caarlos0

fix(cellbuf): give up cursor movement after check ups
  cellbuf/screen.go
Owners: none

fix(cellbuf): show/hide cursor on flush, and lock mutex during redraw
  cellbuf/screen.go
Owners: none

fix(cellbuf): only do partial clear if not in alternate screen mode
  cellbuf/screen.go
Owners: none

fix(cellbuf): printstr: make sure to reset cells after truncating
  cellbuf/screen.go
Owners: none

feat(cellbuf): optimize for backspace characters in cursor movements
  cellbuf/screen.go
Owners: none

fix(cellbuf): show/hide cursor on render instead of flush
  cellbuf/screen.go
Owners: none

fix(cellbuf): ensure inline mode first cursor movement moves to first column
  cellbuf/screen.go
Owners: none

fix(cellbuf): partial clear shouldn't happen on first render
  cellbuf/screen.go
Owners: none

teatest: fix race condition
  exp/teatest/teatest.go
  exp/teatest/v2/teatest.go
Owners: @caarlos0

fix(cellbuf): reset styles before moving the cursor
  cellbuf/screen.go
Owners: none

fix(cellbuf): reset should not reset cursor position
  cellbuf/screen.go
Owners: none

fix(cellbuf): do not clear the last line on Close
  cellbuf/screen.go
Owners: none

fix(cellbuf): clear screen below cursor on first render in inline mode
  cellbuf/screen.go
Owners: none

fix(cellbuf): dry up clearToBottom and clearBelow
  cellbuf/screen.go
Owners: none

fix(ansi): cut/truncate/truncateleft improperly handling new lines
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

test: new line middle of string
  ansi/truncate_test.go
Owners: @aymanbagabas

fix: better impl maybe
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(cellbuf): define what a clear style is
  cellbuf/cell.go
Owners: none

feat(cellbuf): optimize scrolling in inline mode
  cellbuf/screen.go
Owners: none

fix(cellbuf): only reset styles when moving the cursor to a new line
  cellbuf/screen.go
Owners: none

fix(cellbuf): tidy and simplify clearBottom and clearUpdate
  cellbuf/screen.go
Owners: none

fix(cellbuf): clear below cursor on inline mode height change
  cellbuf/screen.go
Owners: none

fix(cellbuf): dry partial clear logic and add comment
  cellbuf/screen.go
Owners: none

test: one more test
  ansi/truncate_test.go
Owners: @aymanbagabas

test: japanese test
  ansi/truncate_test.go
Owners: @aymanbagabas
