Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

fix: use ansi.GetParser
  cellbuf/buffer_write.go
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/parser.go
Owners: none

feat(ansi): add reset terminal color sequences
  ansi/background.go
Owners: @aymanbagabas

feat(scripts): generate scripts for versioned modules
  scripts/builds
Owners: @caarlos0

fix(scripts): typo in auto-generated by scripts/builds
  scripts/builds
Owners: @caarlos0

fix(ci): auto-generated typo
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
Owners: none

fix(scripts): typo in auto-generated by scripts/builds
  scripts/builds
Owners: @caarlos0

fix(ci): auto-generated typo
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
Owners: none

feat(scripts): generate scripts for versioned modules
  scripts/builds
Owners: @caarlos0

feat: add teatest/v2 to use bubbletea@v2-exp
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
  exp/teatest/v2/testdata/TestRequireEqualOutputUpdate.golden
  go.work
Owners: @caarlos0

feat(ci): add teatest-v2 workflow
  .github/dependabot.yml
  .github/workflows/teatest-v2.yml
Owners: none

fix: use bubbletea/v2
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  go.work.sum
Owners: @caarlos0

feat: add teatest/v2 to use bubbletea/v2 (#197)
  .github/dependabot.yml
  .github/workflows/teatest-v2.yml
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
  exp/teatest/v2/testdata/TestRequireEqualOutputUpdate.golden
  go.work
  go.work.sum
Owners: @caarlos0

refactor(cellbuf): rename Style to CellStyle and Hyperlink to CellLink
  cellbuf/buffer_string.go
  cellbuf/buffer_write.go
  cellbuf/cell.go
  cellbuf/style.go
Owners: none

feat: color conversion utilities for (hsv, rgb, and hex)
  exp/color/conversion.go
  exp/color/conversion_test.go
  exp/color/go.mod
  go.work
  go.work.sum
Owners: none

fix(color): add pointer receivers on methods
  exp/color/conversion.go
Owners: none

feat(color): add helper methods for creating HSV and RGB colors
  exp/color/conversion.go
Owners: none

A quick fix to#202
  exp/open/open_unix.go
Owners: none

fix: open when app != "" (#203)
  exp/open/open_unix.go
Owners: none

feat(editor): allow to pass a context
  editor/editor.go
Owners: @caarlos0

fix: rename funcs
  editor/editor.go
Owners: @caarlos0

chore(deps): update golang.org/x/*
  cellbuf/go.mod
  cellbuf/go.sum
  colors/go.mod
  colors/go.sum
  conpty/go.mod
  conpty/go.sum
  exp/teatest/go.mod
  exp/teatest/go.sum
  sshkey/go.mod
  sshkey/go.sum
  term/go.mod
  term/go.sum
  termios/go.mod
  termios/go.sum
  wcwidth/go.mod
  wcwidth/go.sum
  windows/go.mod
  windows/go.sum
  xpty/go.mod
  xpty/go.sum
Owners: @aymanbagabas, @caarlos0

ci: generate windows syscalls
  go.work.sum
Owners: none

feat(editor): allow to pass a context (#204)
  editor/editor.go
Owners: @caarlos0

refactor(cellbuf): dry and generate changes between two buffers
  cellbuf/buffer.go
  cellbuf/buffer_string.go
  cellbuf/buffer_write.go
  cellbuf/changes.go
  cellbuf/errors.go
  cellbuf/screen.go
  cellbuf/utils.go
Owners: none

feat: remove extra lines, optimize cursor movements, and impl window interface
  cellbuf/buffer.go
  cellbuf/buffer_write.go
  cellbuf/changes.go
  cellbuf/screen.go
  cellbuf/utils.go
  cellbuf/window.go
Owners: none

feat: use a dirty buffer to keep track of cells
  cellbuf/buffer.go
  cellbuf/buffer_string.go
  cellbuf/buffer_write.go
  cellbuf/changes.go
  cellbuf/dirty.go
  cellbuf/screen.go
  cellbuf/screen_changes.go
  cellbuf/window.go
Owners: none

fix: don't render the initial screen twice gopher
  cellbuf/screen_changes.go
Owners: none

fix: skip rendering when there is no content
  cellbuf/screen.go
Owners: none

fix: cellbuf: special case space cells in Cell.Equal
  cellbuf/cell.go
Owners: none

feat: add SetMethod to Grid
  cellbuf/buffer.go
  cellbuf/buffer_write.go
  cellbuf/dirty.go
  cellbuf/screen.go
Owners: none

fix: ansi.Wrap issue with a limit of 1
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

fix: ansi.Wrap issue with a limit of 1 (#214)
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

refactor: simplify implementation and move code
  cellbuf/buffer.go
  cellbuf/buffer_string.go
  cellbuf/cell.go
  cellbuf/changes.go
  cellbuf/diff.go
  cellbuf/dirty.go
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/grid.go
  cellbuf/grid_write.go
  cellbuf/link.go
  cellbuf/pos.go
  cellbuf/screen.go
  cellbuf/screen_changes.go
  cellbuf/style.go
  cellbuf/utils.go
  cellbuf/window.go
Owners: none

refactor: cellbuf: remove pos.go
  cellbuf/pos.go
Owners: none

fix(teatestv2): remove ANSICompressor
  exp/teatest/v2/teatest.go
Owners: @caarlos0

fix(cellbuf): ignore space cells when rendering a line
  cellbuf/grid.go
Owners: none

feat(vt): add initial vt package
  vt/c0.go
  vt/csi.go
  vt/cursor.go
  vt/dcs.go
  vt/esc.go
  vt/go.mod
  vt/go.sum
  vt/osc.go
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
  vt/vt.go
Owners: none

feat: remove extra lines, optimize cursor movements, and impl window interface
  cellbuf/buffer.go
  cellbuf/buffer_write.go
  cellbuf/changes.go
  cellbuf/screen.go
  cellbuf/utils.go
  cellbuf/window.go
Owners: none

fix: cellbuf: special case space cells in Cell.Equal
  cellbuf/cell.go
Owners: none

fix: don't render the initial screen twice gopher
  cellbuf/screen_changes.go
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
