Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

chore: go work sync
  sshkey/go.mod
  sshkey/go.sum
Owners: none

chore: undo unwanted changes
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/term/go.mod
  exp/term/go.sum
  input/go.mod
  input/go.sum
  sshkey/go.mod
  sshkey/go.sum
  term/go.mod
  term/go.sum
  xpty/go.mod
  xpty/go.sum
Owners: @caarlos0, @aymanbagabas

docs: fix merge
  README.md
Owners: none

test: fix
  exp/maps/maps_test.go
Owners: none

fix: no deps
  exp/maps/go.mod
  exp/maps/go.sum
  exp/maps/maps.go
  exp/maps/maps_test.go
  go.work.sum
Owners: none

refactor(input): rename types and consts
  input/driver.go
  input/driver_windows.go
  input/key.go
  input/key_test.go
  input/kitty.go
  input/mod.go
  input/mouse.go
  input/mouse_test.go
  input/parse.go
  input/parse_test.go
  input/table.go
  input/terminfo.go
  input/win32input.go
  input/xterm.go
Owners: @aymanbagabas

refactor(input): rename types and consts
  input/driver.go
  input/driver_windows.go
  input/key.go
  input/key_test.go
  input/kitty.go
  input/mod.go
  input/mouse.go
  input/mouse_test.go
  input/parse.go
  input/parse_test.go
  input/table.go
  input/terminfo.go
  input/win32input.go
  input/xterm.go
Owners: @aymanbagabas

test: fix
  exp/maps/maps_test.go
Owners: none

feat: add maps.SortedKeys (#27)
  .github/dependabot.yml
  .github/workflows/maps.yml
  README.md
  exp/maps/go.mod
  exp/maps/go.sum
  exp/maps/maps.go
  exp/maps/maps_test.go
  go.work
  go.work.sum
Owners: none

chore(ansi): add style benchmark test
  ansi/style_test.go
Owners: @aymanbagabas

Revert "feat: added ansi slice function"
  ansi/slice.go
  ansi/slice_test.go
  go.work.sum
Owners: @aymanbagabas

Revert "feat: added ansi slice function"
  ansi/slice.go
  ansi/slice_test.go
  go.work.sum
Owners: @aymanbagabas

Reapply "feat: added ansi slice function"
  ansi/slice.go
  ansi/slice_test.go
  go.work.sum
Owners: @aymanbagabas

test cases for truncating strings of equal length to the specificed length
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(ansi): truncate: truncate string when input length is equal to output
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

perf(ansi): width: loop through input to get the width
  ansi/width.go
Owners: @aymanbagabas

fix(ansi): truncate: add test case for width greater than input
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(ansi): truncate: truncate string when input length is equal to output
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(ansi): truncate: add test case for width greater than input
  ansi/truncate_test.go
Owners: @aymanbagabas

perf(ansi): width: loop through input to get the width
  ansi/width.go
Owners: @aymanbagabas

feat: print last output when doWaitFor times out
  exp/teatest/teatest.go
Owners: @caarlos0

fix test
  exp/teatest/teatest_test.go
Owners: @caarlos0

feat: print last output when doWaitFor times out (#117)
  exp/teatest/teatest.go
  exp/teatest/teatest_test.go
Owners: @caarlos0

chore(dep): update sshkey, go work sync
  colors/go.mod
  colors/go.sum
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/term/go.mod
  exp/term/go.sum
  go.work.sum
  input/go.mod
  input/go.sum
  sshkey/go.mod
  sshkey/go.sum
  term/go.mod
  term/go.sum
  xpty/go.mod
  xpty/go.sum
Owners: @caarlos0, @aymanbagabas

chore(dep): update sshkey, go work sync (#124)
  colors/go.mod
  colors/go.sum
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/term/go.mod
  exp/term/go.sum
  go.work.sum
  input/go.mod
  input/go.sum
  sshkey/go.mod
  sshkey/go.sum
  term/go.mod
  term/go.sum
  xpty/go.mod
  xpty/go.sum
Owners: @caarlos0, @aymanbagabas

chore(deps): go work sync
  go.work.sum
  sshkey/go.mod
  sshkey/go.sum
Owners: none

fix(ansi): reset uniseq grapheme state after
  ansi/width.go
  ansi/width_test.go
Owners: @aymanbagabas

fix(ansi): reset uniseq grapheme state after
  ansi/width.go
  ansi/width_test.go
Owners: @aymanbagabas

chore: go work sync
  sshkey/go.mod
  sshkey/go.sum
Owners: none

chore(deps): lipgloss v0.12.1
  colors/go.mod
  colors/go.sum
  go.work.sum
  sshkey/go.mod
  sshkey/go.sum
Owners: none

perf(ansi): reuse int for rune collection
  ansi/parser.go
Owners: @aymanbagabas

refactor(ansi): reuse CollectAction to collect utf8 in Parser
  ansi/parser.go
  ansi/parser/transition_table.go
  ansi/truncate.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

perf(ansi): zero out the length of the data array in Parser
  ansi/parser.go
Owners: @aymanbagabas

feat(ansi): add benchmark tests
  ansi/parser_test.go
Owners: @aymanbagabas

fix(ansi): tidy and simplify
  ansi/parser.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

refactor(ansi): drop grapheme states
  ansi/parser.go
  ansi/truncate.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

fix(ansi): just reset the params counter when we enter Utf8State
  ansi/parser.go
Owners: @aymanbagabas

fix(ansi): just reset the params counter when we enter Utf8State
  ansi/parser.go
Owners: @aymanbagabas

feat(ansi): add benchmark tests
  ansi/parser_test.go
Owners: @aymanbagabas

refactor(ansi): reuse CollectAction to collect utf8 in Parser
  ansi/parser.go
  ansi/parser/transition_table.go
  ansi/truncate.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
