Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

chore(examples): update window example
  examples/go.mod
  examples/go.sum
  examples/window/main.go
  go.work.sum
Owners: none

refactor(cellbuf): rename Screen to Drawable
  cellbuf/screen.go
  cellbuf/screen_write.go
Owners: none

fix(cellbuf): conform to the new API and fix out-of-bounds access
  cellbuf/buffer.go
Owners: none

feat(cellbuf): add geometry types
  cellbuf/geom.go
Owners: none

chore(cellbuf): remove window.go
  cellbuf/window.go
Owners: none

feat(cellbuf): add cellbuf example
  examples/cellbuf/main.go
  examples/cellbuf/winsize_other.go
  examples/cellbuf/winsize_windows.go
  examples/window/main.go
Owners: none

ci: auto-merge dependabot when build succeeds
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

add ReadQueryResponses method that will read ansi responses on windows
  input/driver.go
Owners: @aymanbagabas

fix(term): add missing ENABLE_VIRTUAL_TERMINAL_INPUT flag on Windows
  term/term_windows.go
Owners: @aymanbagabas

ci: auto-merge dependabot when build succeeds (#246)
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

feat(vt): cursor, colors
  vt/c0.go
  vt/csi.go
  vt/examples/image/main.go
  vt/examples/image/output.png
  vt/go.mod
  vt/go.sum
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
Owners: none

fix(vt): go.mod for examples
  vt/examples/go.mod
  vt/examples/go.sum
Owners: none

Update vt/csi.go
  vt/csi.go
Owners: none

refactor(cellbuf): rename Drawable to Screen
  cellbuf/screen.go
  cellbuf/screen_write.go
Owners: none

feat(ansi): add cursor and keypad sequences and modes
  ansi/cursor.go
  ansi/keypad.go
  ansi/mode.go
Owners: @aymanbagabas

feat(vt): add tabstops, mode handling, and more CSI commands
  vt/c0.go
  vt/csi.go
  vt/mode.go
  vt/screen.go
  vt/tabstop.go
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(vt): add htop example
  examples/go.mod
  examples/go.sum
  examples/htop/main.go
Owners: none

feat(ansi): add cursor and keypad sequences and modes
  ansi/cursor.go
  ansi/keypad.go
  ansi/mode.go
Owners: @aymanbagabas

feat(vt): add tabstops, mode handling, and more CSI commands
  vt/c0.go
  vt/csi.go
  vt/mode.go
  vt/screen.go
  vt/tabstop.go
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(vt): add htop example
  examples/go.mod
  examples/go.sum
  examples/htop/main.go
Owners: none

fix(vt): go.mod for examples
  vt/examples/go.mod
  vt/examples/go.sum
Owners: none

Update vt/csi.go
  vt/csi.go
Owners: none

feat(vt): cursor, colors
  vt/c0.go
  vt/csi.go
  vt/examples/image/main.go
  vt/examples/image/output.png
  vt/go.mod
  vt/go.sum
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(vt): add initial vt package
  vt/c0.go
  vt/csi.go
  vt/cursor.go
  vt/dcs.go
  vt/esc.go
  vt/go.mod
  vt/go.sum
  vt/osc.go
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
  vt/vt.go
Owners: none

feat: vt: add vt package
  go.work
Owners: none

feat(ansi): use canonical names and add more commands
  ansi/ctrl.go
  ansi/cursor.go
  ansi/keypad.go
  ansi/mode.go
  ansi/screen.go
  ansi/sgr.go
  ansi/termcap.go
  ansi/xterm.go
Owners: @aymanbagabas

chore(vt): move example to examples folder
  .gitignore
  examples/go.mod
  examples/go.sum
  examples/vtimage/main.go
  vt/examples/go.mod
  vt/examples/go.sum
  vt/examples/image/output.png
  vt/go.mod
  vt/go.sum
Owners: none

fix(vt): use new ansi mode names
  vt/csi.go
  vt/go.mod
  vt/go.sum
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(ansi): add InsertCharacter and ICH functions
  ansi/screen.go
Owners: @aymanbagabas

feat(ansi): add bracketed paste sequences
  ansi/paste.go
Owners: @aymanbagabas

feat(ansi): add more ansi escape sequences and their aliases
  ansi/cursor.go
  ansi/focus.go
  ansi/mode.go
  ansi/mouse.go
  ansi/screen.go
Owners: @aymanbagabas

fix(ansi): fix MouseX10 and MouseSgr functions
  ansi/mouse.go
Owners: @aymanbagabas

feat: vt: ansi: cellbuf: improvements and new features
  .gitattributes
  ansi/parser.go
  ansi/parser_decode.go
  ansi/sequence.go
  cellbuf/buffer.go
  cellbuf/geom.go
  cellbuf/screen.go
  cellbuf/screen_write.go
  examples/JetBrainsMono-Regular.ttf
  examples/go.mod
  examples/go.sum
  examples/htop/main.go
  examples/parserlog2/main.go
  examples/vtgl/main.go
  vt/c0.go
  vt/cc.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/csi_sgr.go
  vt/damage.go
  vt/dcs.go
  vt/esc.go
  vt/focus.go
  vt/key.go
  vt/mouse.go
  vt/osc.go
  vt/screen.go
  vt/tabstop.go
  vt/terminal.go
  vt/utf8.go
  vt/utils.go
Owners: @aymanbagabas

fix(vt): scrolling and our own buffer type
  vt/buffer.go
  vt/cc.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/cursor.go
  vt/esc.go
  vt/mouse.go
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
Owners: none

fix(vtgl): cursor position
  examples/vtgl/main.go
Owners: none

feat(vt): add mutex to screen
  examples/htop/main.go
  examples/vtgl/main.go
  vt/cc.go
  vt/csi_cursor.go
  vt/csi_screen.go
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(vt): add logging and options
  vt/cc.go
  vt/csi.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/esc.go
  vt/options.go
  vt/osc.go
  vt/terminal.go
Owners: none

fix(vt): correct the size of the parser buffer
  vt/terminal.go
Owners: none

feat(vt): custom colors support
  examples/vtgl/main.go
  vt/csi_sgr.go
  vt/terminal.go
  vt/utils.go
Owners: none

feat(vt): add osc 10, 11, 12, 110, 111, 112 support
  vt/osc.go
  vt/terminal.go
Owners: none
