Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

ci: build x/term for plan9
  .github/workflows/term-plan9.yml
Owners: none

ci: build x/term for plan9
  .github/workflows/term-plan9.yml
Owners: none

feat(term): add plan9 support for x/term
  term/term_plan9.go
  term/term_test.go
Owners: @aymanbagabas

fix(powernap): add workspace/workspaceFolders handler and make router params nil-safe
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_setup_test.go
  powernap/pkg/lsp/client_workspacefolders_e2e_test.go
  powernap/pkg/lsp/client_workspacefolders_negative_test.go
  powernap/pkg/lsp/client_workspacefolders_test.go
  powernap/pkg/lsp/testutil_test.go
  powernap/pkg/transport/router.go
  powernap/pkg/transport/router_test.go
Owners: none

Revert "ci: simplify dependabot config (#595)"
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

Revert "ci: simplify dependabot config (#595)" (#614)
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

chore(ci): update dependabot config to add gitignore module
  .github/dependabot.yml
  .github/workflows/gitignore.yml
Owners: none

fix(lint): ignore gosec G104 warning for console input reading
  input/driver_windows.go
Owners: @aymanbagabas

fix(termios): lint: unconvert, nolintlint
  termios/termios_other.go
Owners: @caarlos0, @aymanbagabas

fix(ci): rename term.yml to term-plan9.yml
  .github/workflows/term-plan9.yml
Owners: none

fix(xpty): lint: remove redundant ConPty receiver
  xpty/conpty_windows.go
Owners: @aymanbagabas

fix(ansi): lint: ignore nested if lint in wrap.go
  ansi/wrap.go
Owners: @aymanbagabas

fix(termios): lint: remove windows from build tags
  termios/bit_other.go
Owners: @caarlos0, @aymanbagabas

fix(termios): lint: add doc.go for package documentation
  termios/doc.go
Owners: @caarlos0, @aymanbagabas

chore(vt): bump dependencies
  vt/go.mod
  vt/go.sum
Owners: none

fix(vt): always use grapheme width using ansi.GraphemeWidth
  vt/utf8.go
Owners: none

refactor(ansi): rename constants to use prefixed typing convention
  ansi/mode.go
  ansi/mode_deprecated.go
  ansi/mode_test.go
  ansi/sgr.go
  ansi/style.go
  ansi/style_test.go
Owners: @aymanbagabas

refactor(ansi): rename constants to use prefixed typing convention (#629)
  ansi/mode.go
  ansi/mode_deprecated.go
  ansi/mode_test.go
  ansi/sgr.go
  ansi/style.go
  ansi/style_test.go
Owners: @aymanbagabas

refactor: rename SlowBlink to Blink
  ansi/sgr.go
  ansi/style.go
Owners: @aymanbagabas

chore(vt): bump dependencies
  vt/go.mod
  vt/go.sum
Owners: none

fix(cellbuf): update ansi, colorprofile
  cellbuf/cell.go
  cellbuf/go.mod
  cellbuf/go.sum
Owners: none

fix: lint issues
  cellbuf/screen.go
Owners: none

feat: update teatest v2 to use charm.land
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

fix(vt): use Write method in WriteString
  vt/emulator.go
Owners: none

feat(vt): implement Terminal interface for Emulator and SafeEmulator
  vt/emulator.go
  vt/safe_emulator.go
  vt/terminal.go
Owners: none

chore(vt): update to match ansi/modes.go changes
  vt/mode.go
  vt/utf8.go
Owners: none

fix(cellbuf): update ansi, colorprofile (#632)
  cellbuf/cell.go
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/screen.go
Owners: none

refactor(ansi): rename UnderlineStyle to Underline
  ansi/style.go
Owners: @aymanbagabas

feat: new `charm.land/x/vcr` package to centralize our go-vcr setup
  .github/dependabot.yml
  .github/workflows/vcr.yml
  vcr/doc.go
  vcr/go.mod
  vcr/go.sum
  vcr/hooks.go
  vcr/marshaler.go
  vcr/matcher.go
  vcr/recorder.go
Owners: none

feat: new `charm.land/x/vcr` package to centralize our go-vcr setup (#643)
  .github/dependabot.yml
  .github/workflows/vcr.yml
  vcr/doc.go
  vcr/go.mod
  vcr/go.sum
  vcr/hooks.go
  vcr/marshaler.go
  vcr/matcher.go
  vcr/recorder.go
Owners: none

fix(vcr): compute diff in the right order
  vcr/matcher.go
Owners: none

fix(ansi): separate underline styles constants to avoid iota
  ansi/style.go
Owners: @aymanbagabas

optim(ansi): improve CursorPosition to handle 1,1 as home position
  ansi/cursor.go
Owners: @aymanbagabas

docs(ansi): update CursorHomePosition docstring
  ansi/cursor.go
Owners: @aymanbagabas

fix(conpty): update interface and implementation for pipe FDs
  conpty/conpty.go
  conpty/conpty_other.go
Owners: @aymanbagabas

chore(conpty): update dependencies
  conpty/go.mod
  conpty/go.sum
Owners: @aymanbagabas

fix(conpty): use standard errors package
  conpty/conpty_windows.go
  conpty/go.mod
  conpty/go.sum
Owners: @aymanbagabas

docs(vttest): add package documentation
  vttest/vttest.go
Owners: none

fix(vttest): serialization of colors and others
  vttest/snapshot.go
  vttest/vttest.go
Owners: none

feat(vttest): add vttest for testing actual terminal applications
  vttest/go.mod
  vttest/go.sum
  vttest/snapshot.go
  vttest/vttest.go
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
