Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

perf(ansi): reuse int for rune collection
  ansi/parser.go
Owners: @aymanbagabas

fix(ansi): tidy and simplify
  ansi/parser.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

perf(ansi): zero out the length of the data array in Parser
  ansi/parser.go
Owners: @aymanbagabas

refactor(ansi): drop grapheme states
  ansi/parser.go
  ansi/truncate.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

feat(ansi): decode sequence params, command, and data
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

feat(ansi): introduce DecodeSequence to decode one sequence at a time
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

feat(examples): add parser examples
  examples/go.mod
  examples/go.sum
  examples/parserlog/main.go
  examples/parserlog2/main.go
  go.work
Owners: none

fix(ansi): parser: execute ST (0x9C) instead of ignoring it
  ansi/parser/transition_table.go
Owners: @aymanbagabas

fix(ansi): parser: execute DEL instead of ignoring it
  ansi/parser/transition_table.go
Owners: @aymanbagabas

fix(ansi): reset collected cmds, params, and data and add tests
  ansi/parser.go
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

fix(ansi): parser: break invalid sequences containing c0/c1 characters
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

fix(ansi): parser: collect DEL character during DcsStringState
  ansi/parser/transition_table.go
Owners: @aymanbagabas

feat(ansi): handle tmux & screen DCS passthrough special cases
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

fix(ansi): parser: collect DEL character during DcsStringState
  ansi/parser/transition_table.go
Owners: @aymanbagabas

feat(ansi): handle tmux & screen DCS passthrough special cases
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

fix(ansi): parser: break invalid sequences containing c0/c1 characters
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

feat(examples): add parser examples
  examples/go.mod
  examples/go.sum
  examples/parserlog/main.go
  examples/parserlog2/main.go
  go.work
Owners: none

feat(ansi): introduce DecodeSequence to decode one sequence at a time
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

feat(ansi): decode sequence params, command, and data
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

fix(ansi): reset collected cmds, params, and data and add tests
  ansi/parser.go
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

fix(ansi): parser: execute ST (0x9C) instead of ignoring it
  ansi/parser/transition_table.go
Owners: @aymanbagabas

fix(ansi): parser: execute DEL instead of ignoring it
  ansi/parser/transition_table.go
Owners: @aymanbagabas

chore(ci): add examples package ci
  .github/dependabot.yml
  .github/workflows/examples.yml
Owners: none

(feat) adding generic Filter function
  exp/higherorder/higherorder.go
  exp/higherorder/higherorder_test.go
Owners: @meowgorithm

(fix) with re-factored test
  exp/higherorder/higherorder_test.go
Owners: @meowgorithm

fix: typo
  exp/golden/golden.go
Owners: @caarlos0

feat(higherorder): adding generic Filter function (#141)
  exp/higherorder/higherorder.go
  exp/higherorder/higherorder_test.go
Owners: @meowgorithm

fix: typo (#142)
  exp/golden/golden.go
Owners: @caarlos0

refactor(ansi): drop the state machine in DecodeSequence & tmux/screen passthrough special handling.
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

refactor(ansi): drop the state machine in DecodeSequence & tmux/screen passthrough special handling.
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

feat(editor): open at the end of the line
  editor/editor.go
  editor/editor_test.go
Owners: @caarlos0

feat: support FocusIn/FocusOut
  exp/term/ansi/mode.go
  exp/term/input/focus.go
  exp/term/input/focus_test.go
  exp/term/input/key_test.go
  exp/term/input/parse.go
Owners: none

fix: improve cmds
  editor/editor.go
  editor/editor_test.go
Owners: @caarlos0

fix: move to the right packages
  ansi/mode.go
  go.work.sum
  input/focus.go
  input/focus_test.go
  input/key_test.go
  input/parse.go
Owners: @aymanbagabas

fix: cleanup
  .github/dependabot.yml
  colors/go.mod
  colors/go.sum
  examples/go.mod
  examples/go.sum
  exp/teatest/go.mod
  exp/teatest/go.sum
  go.work
  go.work.sum
  sshkey/go.mod
  sshkey/go.sum
Owners: @caarlos0

chore: go mod tidy
  go.work.sum
  sshkey/go.sum
Owners: none

revert: changes in exp/term
  exp/term/ansi/mode.go
  exp/term/input/key_test.go
  exp/term/input/parse.go
Owners: none

fix: reviews
  ansi/mode.go
  input/focus.go
Owners: @aymanbagabas

fix: rename method, godoc
  editor/editor.go
  editor/editor_test.go
Owners: @caarlos0

feat(editor): open at the end of the line (#144)
  editor/editor.go
  editor/editor_test.go
Owners: @caarlos0
