Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

feat(ansi): sequences: add Print callback for grapheme clusters
  ansi/sequences/reader.go
  ansi/sequences/splitfunc.go
Owners: @aymanbagabas

fix(ansi): sequences: track esc sequence type in splitFunc
  ansi/sequences/splitfunc.go
Owners: @aymanbagabas

fix(ansi): sequences: handle empty data at EOF in splitFunc
  ansi/sequences/splitfunc.go
Owners: @aymanbagabas

feat(powernap): import lsps from nvim-lspconfig (#719)
  .github/workflows/powernap-update-lsp-configs.yml
  powernap/pkg/config/config.go
  powernap/pkg/config/config_test.go
  powernap/pkg/config/lsps.json
  powernap/pkg/config/overrides.go
  powernap/scripts/extract-lsp-configs.lua
  powernap/scripts/extract-lsp-configs.sh
Owners: none

feat(ansi): sequences: refactor iterators to use iter.Seq
  ansi/sequences/iterator.go
Owners: @aymanbagabas

fix(ansi): remove unused iterator package
  ansi/internal/iterators/iterator.go
  ansi/internal/iterators/iterator_test.go
Owners: @aymanbagabas

fix(ansi): sequences: update DataFunc to use terminator byte and report incomplete sequences
  ansi/sequences/splitfunc.go
Owners: @aymanbagabas

fix(ansi): sequences: handle multiple sequences in FromString and FromBytes
  ansi/sequences/iterator.go
Owners: @aymanbagabas

fix(ansi): reduce parser data buffer size to 4KB
  ansi/parser_sync.go
Owners: @aymanbagabas

chore(cellbuf): bump ansi to reduce memory allocations
  cellbuf/go.mod
  cellbuf/go.sum
Owners: none

fix(ansi): use our own configuration for CJK width handling
  ansi/method.go
  ansi/parser_decode.go
Owners: @aymanbagabas

fix(ansi): use our own configuration for CJK width handling (#758)
  ansi/method.go
  ansi/parser_decode.go
Owners: @aymanbagabas

fix: use atomic.Bool for state, add kill method
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/types.go
Owners: none

fix: use atomic.Bool for state, add kill method (#772)
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/types.go
Owners: none

feat(exp/slice): Map function
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(exp/slice): Map function (#773)
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

Fix Ultraviolet link in pony README.md
  pony/README.md
Owners: none

ci(powernap): attempt to fix automate lsp data updatea i# Please enter the commit message for your changes. Lines starting
  .github/workflows/powernap-update-lsp-configs.yml
Owners: none

chore(powernap): update lsp configs from nvim-lspconfig
  powernap/pkg/config/lsps.json
Owners: none

chore(powernap): ignore rls LSP in config extraction
  powernap/pkg/config/lsps.json
  powernap/scripts/extract-lsp-configs.lua
Owners: none

chore(powernap): ignore rls LSP in config extraction (#784)
  powernap/pkg/config/lsps.json
  powernap/scripts/extract-lsp-configs.lua
Owners: none

chore(ansi): add basic tests for Method.StringWidth
  ansi/method_test.go
Owners: @aymanbagabas

ansi: add breakpoints to testcases
  ansi/wrap_test.go
Owners: @aymanbagabas

ansi: added breakpoint test cases
  ansi/wrap_test.go
Owners: @aymanbagabas

ansi: rough attempt at breakpoint fix
  ansi/wrap.go
Owners: @aymanbagabas

fix(powernap): honor positionEncoding, fallback to offsetEncoding
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_test.go
  powernap/pkg/lsp/types.go
Owners: none

fix(powernap): suppress or redirect jsonrpc2 log messages
  powernap/pkg/transport/connection.go
Owners: none

fix(powernap): clamp utf-16 positions
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_test.go
  powernap/pkg/lsp/types.go
Owners: none

chore(powernap): update lsp configs from nvim-lspconfig
  powernap/pkg/config/lsps.json
Owners: none

fix(powernap): suppress or redirect jsonrpc2 log messages (#788)
  powernap/pkg/transport/connection.go
Owners: none

fix(powernap): use req.Notif to detect notifications in Router
  powernap/pkg/transport/router.go
Owners: none

bugfix(powernap): forcibly close underlying Conn in Kill()
  powernap/pkg/lsp/client.go
Owners: none

add damage tracking to vt
  vt/csi_mode.go
  vt/screen.go
Owners: none

fix(powernap): forcibly close underlying Conn in Kill() (#791)
  powernap/pkg/lsp/client.go
Owners: none

fix(config): test: remove "javascript.jsx" and "typescript.tsx" from the default languages for ts_ls
  powernap/pkg/config/config_test.go
Owners: none

use RenderBuffer
  vt/screen.go
Owners: none

bump ultraviolet
  vt/go.mod
  vt/go.sum
Owners: none

fixup: apply suggestions from ayman
  vt/screen.go
Owners: none

feat(vt): add damage tracking to vt (#792)
  vt/csi_mode.go
  vt/go.mod
  vt/go.sum
  vt/screen.go
Owners: none

fix(powernap): honor positionEncoding, fallback to offsetEncoding (#787)
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_test.go
  powernap/pkg/lsp/types.go
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
