Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

fix: better diff
  ansi/truncate_test.go
Owners: @aymanbagabas

fix: clearer
  ansi/truncate.go
Owners: @aymanbagabas

fix: missing \n
  ansi/truncate_test.go
Owners: @aymanbagabas

fix: small improvements
  ansi/truncate.go
Owners: @aymanbagabas

fix: typo
  ansi/truncate.go
Owners: @aymanbagabas

test: japanese text
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

fix: test
  ansi/truncate_test.go
Owners: @aymanbagabas

fix: test case
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(input): windows: handle cancelio in handleConInput
  input/driver_windows.go
Owners: @aymanbagabas

fix(input): windows: handle cancelio in handleConInput (#370)
  input/driver_windows.go
Owners: @aymanbagabas

fix: test
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

docs: godoc
  ansi/truncate.go
Owners: @aymanbagabas

feat(cellbuf): always go to the beginning of the next line on Close
  cellbuf/screen.go
Owners: none

fix: add another test for \n
  ansi/truncate_test.go
Owners: @aymanbagabas

test: fix
  ansi/truncate_test.go
Owners: @aymanbagabas

test: fix
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(cellbuf): we don't need partial clear if we're clearing the screen
  cellbuf/screen.go
Owners: none

fix(cellbuf): set the original cursor position when not in alt screen
  cellbuf/screen.go
Owners: none

refactor(cellbuf): make width and height arguments of NewScreen
  cellbuf/screen.go
Owners: none

feat(cellbuf): add UseBackspaces method
  cellbuf/screen.go
Owners: none

refactor(cellbuf): separate writer from screen
  cellbuf/screen.go
  cellbuf/writer.go
Owners: none

fix(ansi): cut/truncate/truncateleft improperly handling new lines (#367)
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

chore(dependabot): run weekly on monday
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

fix(cellbuf): don't scroll the screen on close
  cellbuf/screen.go
Owners: none

feat(cellbuf): add CellBuffer type and static functions
  cellbuf/writer.go
Owners: none

chore(teatest/v2): update bubbletea/v2 and use WithInitialSize
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
Owners: @caarlos0

wip
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/teatest.go
Owners: @caarlos0

chore: bump bubbletea and friends
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
Owners: @caarlos0

fix: update test to match new output based on the new renderer
  exp/teatest/v2/app_test.go
Owners: @caarlos0

chore: update testdata to reflect the new renderer
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

refactor: rename WaitForOutput function
  exp/teatest/app_test.go
  exp/teatest/teatest.go
  exp/teatest/teatest_test.go
Owners: @caarlos0

feat: add WaitForMsg function
  exp/teatest/teatest.go
Owners: @caarlos0

feat: wrap inner model to capture all messages
  exp/teatest/msg_buffer.go
  exp/teatest/msg_capture.go
  exp/teatest/teatest.go
Owners: @caarlos0

chore(dependabot): run weekly on monday (#373)
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

ci: sync dependabot config
  .github/dependabot.yml
  .github/workflows/dependabot-sync.yml
Owners: none

fix(vt): tidy control character handling
  vt/cc.go
  vt/csi.go
  vt/handlers.go
Owners: none

feat(cellbuf): implement style aware text wrapping
  cellbuf/wrap.go
  cellbuf/wrap_test.go
Owners: none

refactor(ansi): rename ExtendedColor to IndexedColor and add RGBColor
  ansi/color.go
Owners: @aymanbagabas

feat(ansi): add FinalTerm shell integration sequences
  ansi/finalterm.go
Owners: @aymanbagabas

feat(ansi): add FinalTerm shell integration sequences (#379)
  ansi/finalterm.go
Owners: @aymanbagabas

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
