Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

fix(input): tests: remove undefined consts
  input/driver_windows_test.go
Owners: @aymanbagabas

chore: update all modules to use at least go1.23
  ansi/go.mod
  cellbuf/go.mod
  cellbuf/go.sum
  conpty/go.mod
  examples/go.mod
  examples/go.sum
  exp/charmtone/go.mod
  exp/open/go.mod
  input/go.mod
  json/go.mod
  mosaic/go.mod
  term/go.mod
  termios/go.mod
  wcwidth/go.mod
  windows/go.mod
  xpty/go.mod
Owners: @aymanbagabas, @caarlos0

chore: update all modules to use at least go1.23 (#431)
  ansi/go.mod
  cellbuf/go.mod
  cellbuf/go.sum
  conpty/go.mod
  examples/go.mod
  examples/go.sum
  exp/charmtone/go.mod
  exp/open/go.mod
  input/go.mod
  json/go.mod
  mosaic/go.mod
  term/go.mod
  termios/go.mod
  wcwidth/go.mod
  windows/go.mod
  xpty/go.mod
Owners: @aymanbagabas, @caarlos0

fix: bump go.work and charmtone to go1.24
  exp/charmtone/go.mod
  go.work
Owners: none

chore: update the rest of modules to go1.23
  colors/go.mod
  editor/go.mod
  errors/go.mod
  exp/golden/go.mod
  exp/higherorder/go.mod
  exp/maps/go.mod
  exp/ordered/go.mod
  exp/slice/go.mod
  exp/strings/go.mod
  exp/teatest/go.mod
  exp/teatest/v2/go.mod
  sshkey/go.mod
  vt/go.mod
Owners: @caarlos0, @meowgorithm

feat(ci): add individual lint workflows for each package
  .github/workflows/lint-ansi.yml
  .github/workflows/lint-cellbuf.yml
  .github/workflows/lint-charmtone.yml
  .github/workflows/lint-colors.yml
  .github/workflows/lint-conpty.yml
  .github/workflows/lint-editor.yml
  .github/workflows/lint-errors.yml
  .github/workflows/lint-examples.yml
  .github/workflows/lint-golden.yml
  .github/workflows/lint-higherorder.yml
  .github/workflows/lint-input.yml
  .github/workflows/lint-json.yml
  .github/workflows/lint-maps.yml
  .github/workflows/lint-mosaic.yml
  .github/workflows/lint-open.yml
  .github/workflows/lint-ordered.yml
  .github/workflows/lint-slice.yml
  .github/workflows/lint-sshkey.yml
  .github/workflows/lint-strings.yml
  .github/workflows/lint-sync.yml
  .github/workflows/lint-teatest-v2.yml
  .github/workflows/lint-teatest.yml
  .github/workflows/lint-term.yml
  .github/workflows/lint-termios.yml
  .github/workflows/lint-vt.yml
  .github/workflows/lint-wcwidth.yml
  .github/workflows/lint-windows.yml
  .github/workflows/lint-xpty.yml
Owners: none

feat(scripts): add scripts/lints
  scripts/lints
Owners: @caarlos0

chore(lint): update golangci-lint config and remove unused soft config
  .golangci-soft.yml
  .golangci.yml
Owners: none

chore(ci): remove unused old lint workflows
  .github/workflows/lint-soft.yml
  .github/workflows/lint.yml
Owners: none

fix(teatest): update bubbletea and testdata
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/teatest/testdata/TestApp.golden
  exp/teatest/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

fix(teatestv2): update bubbletea to latest v2-exp
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
Owners: @caarlos0

feat(ci): add individual lint workflows for each package
  .github/workflows/lint-ansi.yml
  .github/workflows/lint-cellbuf.yml
  .github/workflows/lint-charmtone.yml
  .github/workflows/lint-colors.yml
  .github/workflows/lint-conpty.yml
  .github/workflows/lint-editor.yml
  .github/workflows/lint-errors.yml
  .github/workflows/lint-examples.yml
  .github/workflows/lint-golden.yml
  .github/workflows/lint-higherorder.yml
  .github/workflows/lint-input.yml
  .github/workflows/lint-json.yml
  .github/workflows/lint-maps.yml
  .github/workflows/lint-mosaic.yml
  .github/workflows/lint-open.yml
  .github/workflows/lint-ordered.yml
  .github/workflows/lint-slice.yml
  .github/workflows/lint-sshkey.yml
  .github/workflows/lint-strings.yml
  .github/workflows/lint-sync.yml
  .github/workflows/lint-teatest-v2.yml
  .github/workflows/lint-teatest.yml
  .github/workflows/lint-term.yml
  .github/workflows/lint-termios.yml
  .github/workflows/lint-vt.yml
  .github/workflows/lint-wcwidth.yml
  .github/workflows/lint-windows.yml
  .github/workflows/lint-xpty.yml
Owners: none

feat(scripts): add scripts/lints
  scripts/lints
Owners: @caarlos0

fix(teatest): update bubbletea and testdata
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/teatest/testdata/TestApp.golden
  exp/teatest/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

chore(lint): update golangci-lint config and remove unused soft config
  .golangci-soft.yml
  .golangci.yml
Owners: none

fix(teatestv2): update bubbletea to latest v2-exp
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
Owners: @caarlos0

chore(ci): remove unused old lint workflows
  .github/workflows/lint-soft.yml
  .github/workflows/lint.yml
Owners: none

ci: auto-update configuration
  .github/dependabot.yml
Owners: none

fix(xpty): lint issues
  xpty/conpty.go
  xpty/pty.go
  xpty/xpty.go
Owners: @aymanbagabas

fix(termios): lint issues
  termios/termios.go
Owners: @caarlos0, @aymanbagabas

fix(term): lint issues
  term/term.go
  term/term_unix.go
  term/util.go
Owners: @aymanbagabas

chore: revert "fix(xpty): lint issues"
  xpty/conpty.go
  xpty/pty.go
  xpty/xpty.go
Owners: @aymanbagabas

fix(xpty): lint errors
  xpty/conpty.go
  xpty/conpty_windows.go
  xpty/pty.go
  xpty/xpty.go
Owners: @aymanbagabas

fix(input): lint linting issues
  input/cancelreader_other.go
  input/color.go
  input/doc.go
  input/driver.go
  input/key.go
  input/kitty.go
  input/mouse.go
  input/parse.go
  input/paste.go
  input/table.go
Owners: @aymanbagabas

fix(input): lint issues
  input/driver.go
  input/driver_windows.go
Owners: @aymanbagabas

fix(input): correct alt space test case
  input/key_test.go
Owners: @aymanbagabas

feat(input): add Keystroke to return the keystroke representation of the key
  input/key.go
Owners: @aymanbagabas

fix(input): ignore all linters for win32InputState
  input/driver.go
Owners: @aymanbagabas

feat(input): add Keystroke to return the keystroke representation of the key
  input/key.go
Owners: @aymanbagabas

fix(input): ignore all linters for win32InputState
  input/driver.go
Owners: @aymanbagabas

fix(input): correct alt space test case
  input/key_test.go
Owners: @aymanbagabas

chore(exp/charmtone): rename Crystal to Mochi per JAH's direction
  exp/charmtone/charmtone.go
Owners: none

docs(exp/charmtone): add missing GoDocs
  exp/charmtone/charmtone.go
Owners: none

chore(exp/charmtone): downgrade to Go v1.23
  exp/charmtone/go.mod
Owners: none

chore(exp/charmtone): downgrade to Go v1.23
  exp/charmtone/go.mod
Owners: none

docs(exp/charmtone): add missing GoDocs
  exp/charmtone/charmtone.go
Owners: none

chore(exp/charmtone): rename Crystal to Mochi per JAH's direction
  exp/charmtone/charmtone.go
Owners: none

feat(exp/charmtone): add new gray, call it 'salt'
  exp/charmtone/charmtone.go
Owners: none

feat(exp/charmtone): add new gray, call it 'salt'
  exp/charmtone/charmtone.go
Owners: none

feat(ansi): add DECSWT and DECSIN for setting window title and icon name
  ansi/title.go
Owners: @aymanbagabas
