Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

fix(vt): lock terminal state when reading and writing
  vt/terminal.go
Owners: none

feat(vt): make logger an interface
  vt/options.go
  vt/terminal.go
Owners: none

fix(vt): simplify cursor position setting
  vt/cc.go
  vt/csi_screen.go
  vt/screen.go
Owners: none

fix(vt): scrolling up and down should not create new lines
  vt/screen.go
Owners: none

fix(vt): simplify damage interface
  vt/cc.go
  vt/damage.go
  vt/utf8.go
Owners: none

fix(vtgl): always draw all cells
  examples/vtgl/main.go
Owners: none

docs(htop): update example
  examples/htop/main.go
Owners: none

feat(vt): treat nil cell as blank cell and add helpers
  vt/buffer.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_screen.go
Owners: none

chore(vt): add buffer tests
  vt/buffer_test.go
Owners: none

chore: remove examples
  examples/htop/main.go
  examples/vtgl/main.go
  examples/vtimage/main.go
Owners: none

fix(vt): properly handle IL, DL, ICH, DCH, and DECSTBM sequences
  vt/buffer.go
  vt/csi.go
  vt/csi_screen.go
  vt/screen.go
Owners: none

fix(vt): buffer insert and delete cell methods and tests
  vt/buffer.go
  vt/buffer_test.go
Owners: none

fix(vt): correct cursor movement handling and edge cases
  vt/csi_cursor.go
  vt/csi_screen.go
  vt/screen.go
Owners: none

fix(vt): scrolling up and down
  vt/screen.go
Owners: none

perf(vt): optimize TabStops.Next and TabStops.Prev
  vt/tabstop.go
Owners: none

fix(vt): cursor movements edge cases and operations
  vt/cc.go
  vt/csi.go
  vt/csi_screen.go
  vt/esc.go
  vt/utf8.go
Owners: none

fix(vt): restore cursor position after scrolling
  vt/screen.go
Owners: none

perf(vt): use pointers for Cell in Buffer and Screen
  vt/buffer.go
  vt/csi_screen.go
  vt/screen.go
Owners: none

feat: use vt on teatest/v2
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  go.work
  go.work.sum
Owners: @caarlos0

feat: updates
  exp/teatest/v2/app_test.go
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

fix: cleanup
  exp/teatest/v2/teatest_test.go
Owners: @caarlos0

fix: deps
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  go.work
Owners: @caarlos0

docs: update
  exp/teatest/v2/teatest.go
Owners: @caarlos0

fix: go work
  go.work
Owners: none

fix(vt): lock terminal.Read/Write/String
  .github/workflows/vt.yml
  vt/terminal.go
Owners: none

chore: dependabot
  .github/dependabot.yml
Owners: none

ci: update scripts, golangci config
  .github/dependabot.yml
  .github/workflows/vt.yml
  .golangci-soft.yml
Owners: none

ci: update scripts, golangci config (#264)
  .github/dependabot.yml
  .github/workflows/vt.yml
  .golangci-soft.yml
Owners: none

perf(vt): avoid unnecessary cell allocations
  vt/buffer.go
Owners: none

fix(ansi): revert DecodeSequence signature
  ansi/parser.go
  ansi/parser_decode.go
  ansi/parser_test.go
Owners: @aymanbagabas

chore(examples): update deps
  examples/cellbuf/main.go
  examples/go.mod
  examples/go.sum
  examples/parserlog2/main.go
Owners: none

fix(vt): comment old code
  vt/terminal.go
Owners: none

fix(cellbuf): revert to ansi.DecodeSequence signature
  cellbuf/screen_write.go
Owners: none

refactor: move definitions from cellbuf to vt
  ansi/parser_decode.go
  ansi/sequence.go
  cellbuf/cell.go
  cellbuf/geom.go
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/link.go
  cellbuf/screen.go
  cellbuf/screen_write.go
  cellbuf/style.go
  cellbuf/utils.go
  examples/parserlog2/main.go
  go.work.sum
  vt/buffer.go
  vt/cell.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/csi_sgr.go
  vt/cursor.go
  vt/dcs.go
  vt/esc.go
  vt/geom.go
  vt/go.mod
  vt/go.sum
  vt/osc.go
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
Owners: @aymanbagabas

chore: update vt
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
Owners: @caarlos0

chore: ansi and cellbuf /vt
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
Owners: @caarlos0

refactor: change and simplify cellbuf.Buffer into an interface
  cellbuf/buffer.go
  cellbuf/screen.go
  cellbuf/screen_write.go
  examples/cellbuf/main.go
  examples/go.mod
  vt/buffer.go
  vt/buffer_test.go
  vt/cell.go
  vt/screen.go
  vt/terminal.go
Owners: none

feat: pass program options
  exp/teatest/v2/app_test.go
  exp/teatest/v2/teatest.go
Owners: @caarlos0

feat(vt): expose screen methods
  vt/terminal.go
Owners: none

feat: use vt on teatest/v2
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  go.work
Owners: @caarlos0

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
