Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

chore: fix typo
  .github/workflows/term.yml
Owners: none

implement setState
  term/term_plan9.go
Owners: @aymanbagabas

ci: build term/ for plan9
  .github/workflows/term.yml
Owners: none

implement getSize for Plan 9
  term/term_plan9.go
  term/term_test.go
Owners: @aymanbagabas

perf(cellbuf): reuse ansi.Parser instances in PenWriter
  cellbuf/pen.go
Owners: none

perf(cellbuf): reuse ansi.Parser instances in PenWriter (#518)
  cellbuf/pen.go
Owners: none

refactor(vt): rename Terminal to Emulator
  vt/cc.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/csi_sgr.go
  vt/dcs.go
  vt/esc.go
  vt/focus.go
  vt/handlers.go
  vt/key.go
  vt/mode.go
  vt/mouse.go
  vt/osc.go
  vt/terminal.go
  vt/terminal_test.go
  vt/utf8.go
Owners: none

feat(windows): expose KeyEventRecord and InputRecord types
  windows/types.go
  windows/types_windows.go
Owners: @aymanbagabas

ci: generate windows syscalls
  go.work.sum
Owners: none

feat(ansi): add linux console palette colors sequences
  ansi/palette.go
  ansi/palette_test.go
Owners: @aymanbagabas

feat(ansi): add linux console palette colors sequences
  ansi/palette.go
  ansi/palette_test.go
Owners: @aymanbagabas

feat(teatest): support providing addl. tea.ProgramOption (#516)
  exp/teatest/v2/teatest.go
Owners: @caarlos0

fix(teatest): final model may be nil
  exp/teatest/app_test.go
  exp/teatest/teatest.go
Owners: @caarlos0

fix(teatest): fix race condition (#366)
  exp/teatest/teatest.go
  exp/teatest/v2/teatest.go
Owners: @caarlos0

feat(exp/slice): add `slice.IsSubset`
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(exp/slice): add `slice.IsSubset` (#540)
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

chore(taskfile): fix typo
  Taskfile.yaml
Owners: none

feat(json): add `IsValid` to `x/json`
  json/json.go
  json/json_test.go
Owners: none

chore: run `go mod tidy` and `go work sync`
  Taskfile.yaml
  cellbuf/go.mod
  cellbuf/go.sum
  colors/go.mod
  colors/go.sum
  conpty/go.mod
  conpty/go.sum
  examples/go.mod
  examples/go.sum
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  go.work.sum
  sshkey/go.mod
  sshkey/go.sum
  vt/go.mod
  vt/go.sum
  wcwidth/go.mod
  wcwidth/go.sum
Owners: @aymanbagabas, @caarlos0

feat(json): add `IsValid` to `x/json` (#543)
  json/json.go
  json/json_test.go
Owners: none

chore: run `go mod tidy` and `go work sync` (#542)
  Taskfile.yaml
  cellbuf/go.mod
  cellbuf/go.sum
  colors/go.mod
  colors/go.sum
  conpty/go.mod
  conpty/go.sum
  examples/go.mod
  examples/go.sum
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  go.work.sum
  sshkey/go.mod
  sshkey/go.sum
  vt/go.mod
  vt/go.sum
  wcwidth/go.mod
  wcwidth/go.sum
Owners: @aymanbagabas, @caarlos0

feat: add powernap
  go.work
  go.work.sum
  powernap/example/custom_config.go
  powernap/example/main.go
  powernap/go.mod
  powernap/go.sum
  powernap/pkg/config/config.go
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/protocol.go
  powernap/pkg/lsp/sync.go
  powernap/pkg/lsp/types.go
  powernap/pkg/registry/registry.go
  powernap/pkg/transport/connection.go
  powernap/pkg/transport/router.go
  powernap/pkg/transport/transport.go
Owners: none

ci: update workflow versions on build script
  scripts/builds
Owners: @caarlos0

ci: add three missing build workflows
  .github/workflows/color.yml
  .github/workflows/powernap.yml
  .github/workflows/toner.yml
Owners: none

style: add missing line breaks
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
Owners: none

chore: add a `.editorconfig`
  .editorconfig
Owners: none

ci: group dependabot updates
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

chore: update minimal go version to v1.24
  ansi/go.mod
  cellbuf/go.mod
  colors/go.mod
  conpty/go.mod
  editor/go.mod
  errors/go.mod
  exp/charmtone/go.mod
  exp/color/go.mod
  exp/golden/go.mod
  exp/higherorder/go.mod
  exp/maps/go.mod
  exp/open/go.mod
  exp/ordered/go.mod
  exp/slice/go.mod
  exp/strings/go.mod
  exp/teatest/go.mod
  exp/teatest/v2/go.mod
  exp/toner/go.mod
  go.work.sum
  input/go.mod
  json/go.mod
  mosaic/go.mod
  sshkey/go.mod
  term/go.mod
  termios/go.mod
  wcwidth/go.mod
  windows/go.mod
  xpty/go.mod
Owners: @aymanbagabas, @caarlos0, @meowgorithm

chore: add missing `./exp/toner` to `go.work`
  go.work
  go.work.sum
Owners: none

chore: update powernap minimal go version to v1.24
  go.work.sum
  powernap/go.mod
  powernap/go.sum
Owners: none

chore: add a `.editorconfig`
  .editorconfig
Owners: none

style: add missing line breaks
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
Owners: none

chore: update minimal go version to v1.24
  ansi/go.mod
  cellbuf/go.mod
  colors/go.mod
  conpty/go.mod
  editor/go.mod
  errors/go.mod
  exp/charmtone/go.mod
  exp/color/go.mod
  exp/golden/go.mod
  exp/higherorder/go.mod
  exp/maps/go.mod
  exp/open/go.mod
  exp/ordered/go.mod
  exp/slice/go.mod
  exp/strings/go.mod
  exp/teatest/go.mod
  exp/teatest/v2/go.mod
  exp/toner/go.mod
  go.work.sum
  json/go.mod
  mosaic/go.mod
  sshkey/go.mod
  term/go.mod
  termios/go.mod
  wcwidth/go.mod
  windows/go.mod
  xpty/go.mod
Owners: @aymanbagabas, @caarlos0, @meowgorithm

chore: add missing `./exp/toner` to `go.work`
  go.work
  go.work.sum
Owners: none

ci: add three missing build workflows
  .github/workflows/color.yml
  .github/workflows/powernap.yml
  .github/workflows/toner.yml
Owners: none

chore: update powernap minimal go version to v1.24
  go.work.sum
  powernap/go.mod
  powernap/go.sum
Owners: none

ci: update workflow versions on build script
  scripts/builds
Owners: @caarlos0

ci: group dependabot updates
  .github/dependabot.yml
  scripts/dependabot
Owners: @caarlos0

feat(ansi): add in-band resize sequence
  ansi/inband.go
Owners: @aymanbagabas

chore(ansi): deprecate window operation constants
  ansi/winop.go
Owners: @aymanbagabas
