Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

fix(cellbuf): wrap: treat nbsp as a character
  cellbuf/wrap.go
Owners: none

fix(cellbuf): wrap: properly handle formatted spaces (#407)
  cellbuf/cell.go
  cellbuf/wrap.go
  cellbuf/wrap_test.go
Owners: none

feat(ansi): add NewStyle function
  ansi/sgr.go
  ansi/style.go
  ansi/style_test.go
Owners: @aymanbagabas

fix(ansi): dry up attrStrings map
  ansi/sgr.go
Owners: @aymanbagabas

fix: LFS issue with JigokudaniMonkeyPark.png
  ansi/fixtures/graphics/JigokudaniMonkeyPark.png
Owners: @aymanbagabas

fix: LFS issue with JigokudaniMonkeyPark.png (#412)
  ansi/fixtures/graphics/JigokudaniMonkeyPark.png
Owners: @aymanbagabas

feat(cellbuf): add a generic writer that keeps track of style state
  cellbuf/pen.go
  cellbuf/wrap.go
Owners: none

feat(ansi): add x11 color names for osc 10-12
  ansi/background.go
  ansi/background_test.go
  ansi/util.go
  vt/osc.go
Owners: @aymanbagabas

feat(exp/slice): add `GroupBy` and `Uniq` functions
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

chore: update `go.work.sum`
  go.work.sum
Owners: none

docs(cellbuf): add usage example to cellbuf.Wrap
  cellbuf/wrap_test.go
Owners: none

docs(cellbuf): add usage example to cellbuf.Wrap
  cellbuf/wrap_test.go
Owners: none

refactor(input): rename variable for clarity
  input/driver_windows.go
Owners: @aymanbagabas

feat(exp/slice): add helper to place elements between slice items
  exp/slice/slice.go
Owners: @meowgorithm

chore(exp/slice): add interperse test
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(charmtone): initial pass
  exp/charmtone/charmtone.go
  exp/charmtone/go.mod
  exp/charmtone/go.sum
  go.work
Owners: none

chore(charmtone): adjust color definitions, add test
  exp/charmtone/charmtone.go
  exp/charmtone/go.mod
Owners: none

feat(exp/slice): add helper to place elements between slice items
  exp/slice/slice.go
Owners: @meowgorithm

chore(exp/slice): add interperse test
  exp/slice/slice_test.go
Owners: @meowgorithm

hore(exp/charmtone): map names to constants
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone_test.go
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

chore(exp/charmtone): update color names + add guide
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone_test.go
  exp/charmtone/guide/main.go
Owners: none

chore(exp/charmtone): make everything immutable
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone_test.go
  exp/charmtone/guide/main.go
Owners: none

chore(exp/charmtone): update palette, mark some core colors
  exp/charmtone/charmtone.go
  exp/charmtone/guide/main.go
Owners: none

feat(exp/slice): add helper to place elements between slice items
  exp/slice/slice.go
Owners: @meowgorithm

chore(exp/slice): add interperse test
  exp/slice/slice_test.go
Owners: @meowgorithm

chore(exp/charmtone): mark primary and secondary colors + update guide
  exp/charmtone/charmtone.go
  exp/charmtone/guide/main.go
Owners: none

chore(exp/charmtone): improve guide rendering, mark tertiary colors
  exp/charmtone/charmtone.go
  exp/charmtone/guide/main.go
Owners: none

chore(windows): remove undefined constants to align with Windows API
  windows/types_windows.go
Owners: @aymanbagabas

chore(input): update windows api consts
  input/driver_windows.go
Owners: @aymanbagabas

feat(exp/charmtone): add gradient helper + grads in guide
  exp/charmtone/charmtone.go
  exp/charmtone/guide/main.go
Owners: none

chore(exp/charmtone): rename guide package
  exp/charmtone/charmtone/main.go
Owners: none

feat: add exp/charmtone (#426)
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone/main.go
  exp/charmtone/charmtone_test.go
  exp/charmtone/go.mod
  exp/charmtone/go.sum
  go.work
Owners: none

fix(godoc): typo in Intersperse doc comment
  exp/slice/slice.go
Owners: @meowgorithm

fix(deps): go.work/go.mod version number
  exp/charmtone/go.mod
  go.work
Owners: none

chore(exp/charmtone): @aymanbagabas fixes the API
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone/main.go
  exp/charmtone/charmtone_test.go
Owners: none

Update sshkey/go.mod
  sshkey/go.mod
Owners: none

chore(exp/charmtone): @aymanbagabas fixes the API
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone/main.go
  exp/charmtone/charmtone_test.go
Owners: none

fix(godoc): typo in Intersperse doc comment (#427)
  exp/slice/slice.go
Owners: @meowgorithm

fix: update go.work and go.work.sum
  go.work
  go.work.sum
Owners: none

docs: remove outdated build badge
  README.md
Owners: none
