Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

chore(vttest): update dependencies and go mod tidy
  vttest/go.mod
  vttest/go.sum
Owners: none

feat(vttest): add image drawing support
  vttest/go.mod
  vttest/go.sum
  vttest/image.go
Owners: none

chore(vttest): update module dependencies
  vttest/go.mod
  vttest/go.sum
Owners: none

feat(vttest): add Start method to Terminal to launch processes in pty
  vttest/vttest.go
Owners: none

feat(ordered): remove Min & Max
  exp/ordered/ordered.go
  exp/ordered/ordered_test.go
Owners: @meowgorithm

refactor(vt): use ordered.Clamp
  vt/go.mod
  vt/go.sum
  vt/screen.go
  vt/utils.go
Owners: none

refactor(vt): use ordered.Clamp (#650)
  vt/go.mod
  vt/go.sum
  vt/screen.go
  vt/utils.go
Owners: none

fix(vttest): rename Drawer to ImageOptions and update Image drawing method
  vttest/image.go
  vttest/vttest.go
Owners: none

fix(vttest): update Style.Attrs and Style.Underline types
  vttest/snapshot.go
Owners: none

fix(vttest): update to use vt.Emulator instead of vt.Terminal
  vttest/vttest.go
Owners: none

chore(vttest): tidy go.mod and go.sum
  vttest/go.mod
  vttest/go.sum
Owners: none

feat(vt): add damage callbacks for terminal updates
  vt/callbacks.go
  vt/cc.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_screen.go
  vt/dcs.go
  vt/emulator.go
  vt/esc.go
  vt/handlers.go
  vt/osc.go
  vt/screen.go
  vt/utf8.go
Owners: none

feat(ci): add dependabot and github actions for vttest
  .github/dependabot.yml
  .github/workflows/vttest.yml
Owners: none

fix(vttest): lint issues
  vttest/image.go
  vttest/snapshot.go
  vttest/vttest.go
Owners: none

feat(vttest): add Wait method to Terminal for process synchronization
  vttest/vttest.go
Owners: none

docs(vttest): update default CellHeight to 16 pixels
  vttest/image.go
Owners: none

feat(ordered): remove Min & Max (#649)
  exp/ordered/ordered.go
  exp/ordered/ordered_test.go
Owners: @meowgorithm

feat(vttest): add snapshot testing utilities and image drawer
  vttest/go.mod
  vttest/go.sum
  vttest/image.go
  vttest/snapshot/snapshot.go
Owners: none

fix(vttest): use vt.SafeEmulator for thread safety
  vttest/image.go
  vttest/vttest.go
Owners: none

feat(tone): remove dependencies on go-colorful and exp/color
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone_test.go
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

chore: add workflow
  .github/workflows/pony.yml
  pony/README.md
Owners: none

chore(charmtone): simplify hex validation in tests
  exp/charmtone/charmtone_test.go
Owners: none

feat(tone): remove dependencies on go-colorful and exp/color (#653)
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone_test.go
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

chore: add workflow
  .github/workflows/pony.yml
  pony/README.md
Owners: none

fix: move fixtures outside mod dir
  ansi/sixel/sixel_bench_test.go
  examples/img2term/main.go
  fixtures/JigokudaniMonkeyPark.png
  fixtures/charm-wish.png
  mosaic/mosaic_test.go
Owners: @aymanbagabas

fix: move fixtures outside mod dir (#661)
  ansi/sixel/sixel_bench_test.go
  examples/img2term/main.go
  fixtures/JigokudaniMonkeyPark.png
  fixtures/charm-wish.png
  mosaic/mosaic_test.go
Owners: @aymanbagabas

ci: lfs: true
  .github/workflows/mosaic.yml
Owners: none

fix: build when git-lfs, go-version-file on coverage, properly cache
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/gitignore.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/pony.yml
  .github/workflows/powernap.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/toner.yml
  .github/workflows/vcr.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

fix: unify build/coverage step
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/gitignore.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/pony.yml
  .github/workflows/powernap.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/toner.yml
  .github/workflows/vcr.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

ci: improve jobs (#662)
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/gitignore.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/pony.yml
  .github/workflows/powernap.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/toner.yml
  .github/workflows/vcr.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0

term: add MakeRawOutput function
  term/term.go
  term/term_other.go
  term/term_plan9.go
  term/term_unix.go
  term/term_windows.go
Owners: @aymanbagabas

feat: add etag pkg
  .github/workflows/etag.yml
  etag/etag.go
  etag/etag_test.go
  etag/go.mod
Owners: none

fix: godoc
  etag/etag.go
Owners: none

ci: update scripts/builds for setup-go@v6
  scripts/builds
Owners: @caarlos0

ci: update scripts/builds for setup-go@v6
  scripts/builds
Owners: @caarlos0

feat: add etag pkg (#689)
  .github/workflows/etag.yml
  etag/etag.go
  etag/etag_test.go
  etag/go.mod
Owners: none

fix: examples
  examples/cellbuf/main.go
  examples/charmtone/guide.go
  examples/go.mod
  examples/go.sum
  examples/layout/main.go
Owners: none

fix: examples
  examples/cellbuf/main.go
  examples/charmtone/guide.go
  examples/go.mod
  examples/layout/main.go
Owners: none

fix: examples
  examples/go.mod
Owners: none

fix: examples
  examples/go.mod
  examples/go.sum
  examples/img2term/main.go
  examples/pony/alignment/main.go
  examples/pony/bubbletea/main.go
  examples/pony/buttons/main.go
  examples/pony/components/main.go
  examples/pony/custom/main.go
  examples/pony/dynamic/main.go
  examples/pony/hello/main.go
  examples/pony/helpers/main.go
  examples/pony/interactive-form/main.go
  examples/pony/layout/main.go
  examples/pony/scrolling-markup/main.go
  examples/pony/scrolling-with-clicks/main.go
  examples/pony/scrolling/main.go
  examples/pony/simple-bubbletea/main.go
  examples/pony/stateful/main.go
  examples/pony/styled/main.go
Owners: none
