Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

feat: Add sixels to ansi package
  ansi/go.mod
  ansi/go.sum
  ansi/graphics.go
  ansi/sixel/decoder.go
  ansi/sixel/encoder.go
  ansi/sixel/palette.go
  ansi/sixel/palette_test.go
  ansi/sixel/sixel_test.go
Owners: @aymanbagabas

fix(termios): GetWinsize ioctl constant
  termios/termios.go
Owners: @caarlos0, @aymanbagabas

fix(xpty): update termios to v0.1.1
  xpty/go.mod
  xpty/go.sum
Owners: @aymanbagabas

scanSize tests
  ansi/sixel/decoder.go
  ansi/sixel/sixel_test.go
Owners: @aymanbagabas

Update ansi/sixel/encoder.go
  ansi/sixel/encoder.go
Owners: @aymanbagabas

Update ansi/graphics.go
  ansi/graphics.go
Owners: @aymanbagabas

pr comments
  ansi/graphics.go
  ansi/sixel/decoder.go
  ansi/sixel/encoder.go
Owners: @aymanbagabas

raster/parseraster
  ansi/sixel/decoder.go
  ansi/sixel/encoder.go
Owners: @aymanbagabas

repeat/parserepeat
  ansi/sixel/decoder.go
  ansi/sixel/encoder.go
Owners: @aymanbagabas

chore(ansi): use CursorHomePosition instead of HomeCursorPosition
  ansi/cursor.go
Owners: @aymanbagabas

refactor(ansi): remove NewModes function
  ansi/modes.go
Owners: @aymanbagabas

fix(cellbuf): ensure we're using the correct move method
  cellbuf/screen.go
Owners: none

chore(editor): use ints instead of uints to avoid conversions
  editor/editor.go
Owners: @caarlos0

fix(cellbuf): off by one error when moving the cursor in inline mode
  cellbuf/screen.go
Owners: none

fix(cellbuf): properly handle autowrap
  cellbuf/screen.go
Owners: none

fix(cellbuf): out of bounds copy in Screen.transformLine
  cellbuf/screen.go
Owners: none

chore(editor): use ints instead of uints to avoid conversions (#353)
  editor/editor.go
Owners: @caarlos0

fix(input): use cancel io to cancel windows read events
  input/cancelreader_windows.go
Owners: @aymanbagabas

fix(input): use cancel io to cancel windows read events (#360)
  input/cancelreader_windows.go
Owners: @aymanbagabas

fix(cellbuf): inverted move arguments in putRange
  cellbuf/screen.go
Owners: none

fix(cellbuf): clearBottom should move to the last line of the screen
  cellbuf/screen.go
Owners: none

perf(cellbuf): optimize Equal methods using pointers and int comparison
  cellbuf/cell.go
  cellbuf/screen.go
Owners: none

docs(examples): update cellbuf examples
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

fix(vt): properly handle graphemes, combining characters, and UTF-8 sequences
  vt/csi_cursor.go
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(vt): handle hyperlinks (OSC 8)
  vt/cursor.go
  vt/handlers.go
  vt/osc.go
  vt/screen.go
  vt/utf8.go
Owners: none

refactor(vt): dry and use input package for key and mouse events
  vt/key.go
  vt/mouse.go
Owners: none

chore(term): remove duplicate ENABLE_PROCESSED_OUTPUT flag
  term/term_windows.go
Owners: @aymanbagabas

perf(cellbuf): readd cuu1 optimization using reverse index
  cellbuf/screen.go
Owners: none

feat(ansi): add BDSM mode
  ansi/mode.go
Owners: @aymanbagabas

refactor(cellbuf)!: rename Screen.MoveTo to Screen.SetFinalCursorPosition
  cellbuf/screen.go
Owners: none

feat(cellbuf): add SetContentRect method to set content within a rectangle
  cellbuf/screen.go
Owners: none

chore(cellbuf): suppress unused warning on lineData.oldIndex
  cellbuf/screen.go
Owners: none

chore(examples): update examples to use cellbuf.Rect
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

fix(cellbuf): restore previous autowrap behavior
  cellbuf/screen.go
Owners: none

feat(cellbuf): distinguish between Clear and Redraw
  cellbuf/screen.go
Owners: none

feat(cellbuf): dry Cursor struct and updatePen method
  cellbuf/screen.go
Owners: none

fix(cellbuf): don't toggle auto wrap mode for zero-width cells
  cellbuf/screen.go
Owners: none

refactor(cellbuf): rename URLID to Params in Link
  cellbuf/cell.go
  cellbuf/sequence.go
  vt/osc.go
Owners: none

fix(examples): cellbuf: make sure we reset the link after the text
  examples/cellbuf/main.go
Owners: none

fix(cellbuf): define what an empty cell is
  cellbuf/cell.go
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
