Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

refactor(exp/slice): test as an external package
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(exp/slice): add `Shift`, `Pop` and `DeleteAt`
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(vt): add backspace handler
  vt/cc.go
  vt/handlers.go
Owners: none

fix(vt): handle grapheme clusters correctly
  vt/terminal.go
  vt/utf8.go
Owners: none

fix(vt): fg/bg/cursor color OSC handling
  vt/osc.go
Owners: none

feat(vt): add callbacks for cursor and color changes
  vt/callbacks.go
  vt/osc.go
  vt/terminal.go
Owners: none

feat(vt): add support for working directory notification OSC 7
  vt/callbacks.go
  vt/handlers.go
  vt/osc.go
  vt/terminal.go
Owners: none

feat(vt): add callbacks for enabling/disabling modes
  vt/callbacks.go
  vt/csi_mode.go
Owners: none

fix(vt): validate cursor position in CUP
  vt/handlers.go
Owners: none

fix(vt): validate eraseCharacter argument
  vt/csi_screen.go
Owners: none

fix(vt): flush grapheme buffer before handling control codes and escape sequences
  vt/cc.go
  vt/csi.go
  vt/dcs.go
  vt/esc.go
  vt/osc.go
  vt/utf8.go
Owners: none

docs(ansi): correct ECH documentation
  ansi/cursor.go
Owners: @aymanbagabas

feat(vt): handle SOS and PM escape sequences
  vt/dcs.go
  vt/handlers.go
  vt/terminal.go
Owners: none

fix(vt): use nil for default colors
  vt/terminal.go
Owners: none

feat(vt): implement uv.Screen and uv.Drawable interfaces
  vt/terminal.go
Owners: none

refactor(vt): use conventional methods for screen operations
  vt/csi_screen.go
  vt/handlers.go
  vt/screen.go
Owners: none

fix(vt): properly handle screen area in Draw method
  vt/terminal.go
Owners: none

ci: generate windows syscalls
  go.work.sum
Owners: none

feat(vt): handle fg/bg/cursor default terminal colors
  vt/osc.go
  vt/terminal.go
Owners: none

fix(vt): ensure we compare with legacy keys
  vt/key.go
Owners: none

fix(vt): add missing legacy key handling
  vt/key.go
Owners: none

feat(conpty): expose underlying conpty file descriptors
  conpty/conpty_windows.go
Owners: @aymanbagabas

fix(conpty): expose default consts
  conpty/conpty_windows.go
  conpty/doc.go
Owners: @aymanbagabas

chore(exp/charmtone): add Barbeque, darken Guac and Zinc
  exp/charmtone/charmtone.go
Owners: none

chore(exp/charmtone): add Barbeque, darken Guac and Zinc
  exp/charmtone/charmtone.go
Owners: none

fix(charmtone): add missing `Barbeque` to `Keys()`
  exp/charmtone/charmtone.go
Owners: none

fix(charmtone): add missing `Barbeque` to `Keys()`
  exp/charmtone/charmtone.go
Owners: none

chore(exp/charmtone): revert recent changes to zinc and guac
  examples/charmtone/main.go
  exp/charmtone/charmtone.go
Owners: none

chore(exp/charmtone): revert recent changes to zinc and guac
  examples/charmtone/main.go
  exp/charmtone/charmtone.go
Owners: none

feat(ansi): add Unicode Core Mode and deprecate Grapheme Clustering Mode
  ansi/mode.go
Owners: @aymanbagabas

feat(ansi): add in-band resize mode
  ansi/mode.go
Owners: @aymanbagabas

feat(ansi): add DECSET and DECRST aliases for SetMode and ResetMode
  ansi/mode.go
Owners: @aymanbagabas

docs(ansi): update status report comments
  ansi/status.go
Owners: @aymanbagabas

docs(ansi): add SynchronizedOutputMode and GraphemeClusteringMode docs
  ansi/mode.go
Owners: @aymanbagabas

feat(ansi): add light/dark mode and status report
  ansi/mode.go
  ansi/status.go
Owners: @aymanbagabas

Add plan9 support to x/term
  term/term_plan9.go
  term/term_test.go
Owners: @aymanbagabas

chore: format taskfile
  Taskfile.yaml
Owners: none

chore: update `go.work.sum`
  go.work.sum
Owners: none

ci: build term/ for plan9
  .github/workflows/term.yml
Owners: none

chore: fix typo
  .github/workflows/term.yml
Owners: none
