Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

fix(cellbuf): map locking, rep char count, and divide by zero
  cellbuf/window.go
Owners: none

fix(cellbuf): remove extraneous DCH and guard transform line copy
  cellbuf/window.go
Owners: none

fix(cellbuf): scroll when necessary in inline mode and ensure we copy the correct cells when updating the line
  cellbuf/window.go
Owners: none

fix: input to use latest /ansi (#295)
  input/da1.go
  input/go.mod
  input/go.sum
  input/kitty.go
  input/mouse.go
  input/mouse_test.go
  input/parse.go
  input/xterm.go
Owners: @aymanbagabas

fix(cellbuf): tidy up and don't render if no changes
  cellbuf/window.go
Owners: none

fix(cellbuf): only support ASCII in emitRange repeat characters
  cellbuf/window.go
Owners: none

fix(cellbuf): standout glitch using the wrong blank cell
  cellbuf/window.go
Owners: none

feat(cellbuf): support altscreen and cursor visibility
  cellbuf/screen.go
  cellbuf/screen_write.go
  cellbuf/window.go
Owners: none

fix(cellbuf): cache screen width and height after resize
  cellbuf/window.go
Owners: none

feat(cellbuf): add Screen.InsertAbove method
  cellbuf/window.go
Owners: none

fix(cellbuf): guard InsertAbove with mutex
  cellbuf/window.go
Owners: none

fix(cellbuf): mark screen as ready to clear on Clear()
  cellbuf/window.go
Owners: none

fix(cellbuf): ensure cursor is hidden while rendering
  cellbuf/window.go
Owners: none

fix(cellbuf): do not insert above when alternate screen mode is enabled
  cellbuf/window.go
Owners: none

refactor(cellbuf): change Cell.Content to Cell.String
  cellbuf/buffer.go
  cellbuf/cell.go
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/options.go
  cellbuf/screen.go
  cellbuf/window.go
Owners: none

fix(cellbuf): touched cells calculation
  cellbuf/window.go
Owners: none

fix(cellbuf): clear the rest of the lines after painting a new frame
  cellbuf/screen_write.go
Owners: none

fix(cellbuf): writing to wide cell placeholders
  cellbuf/buffer.go
  cellbuf/cell.go
Owners: none

fix(cellbuf): clear the rest of the line within the rect
  cellbuf/screen_write.go
Owners: none

refactor(cellbuf): rename Paint to PaintRect
  cellbuf/screen.go
Owners: none

feat(examples): add cellbuf examples
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

fix(cellbuf): clear the last line when writing to the screen
  cellbuf/screen_write.go
Owners: none

refactor(cellbuf): simplify Screen methods with io.Writer
  cellbuf/window.go
Owners: none

feat(cellbuf): add MoveTo method
  cellbuf/window.go
Owners: none

chore(examples): go mod tidy
  examples/go.mod
  examples/go.sum
Owners: none

chore(wcwidth): add more test cases
  wcwidth/wcwidth_test.go
Owners: none

fix(cellbuf): REP should put the first character before the sequence
  cellbuf/window.go
Owners: none

fix(cellbuf): update pen before writing first REP cell
  cellbuf/window.go
Owners: none

feat(input): update input package
  input/cancelreader_windows.go
  input/clipboard.go
  input/color.go
  input/cursor.go
  input/da1.go
  input/driver.go
  input/driver_other.go
  input/driver_test.go
  input/driver_windows.go
  input/driver_windows_test.go
  input/focus.go
  input/focus_test.go
  input/go.mod
  input/go.sum
  input/input.go
  input/key.go
  input/key_test.go
  input/kitty.go
  input/mod.go
  input/mode.go
  input/mouse.go
  input/mouse_test.go
  input/parse.go
  input/parse_test.go
  input/paste.go
  input/seq.go
  input/table.go
  input/termcap.go
  input/terminfo.go
  input/win32input.go
  input/xterm.go
Owners: @aymanbagabas

feat(input): export input parser
  input/driver.go
  input/driver_other.go
  input/focus_test.go
  input/key_test.go
  input/parse.go
  input/parse_test.go
  input/table.go
  input/terminfo.go
Owners: @aymanbagabas

feat(input): expose input reader
  input/driver.go
  input/driver_other.go
  input/driver_test.go
  input/driver_windows.go
  input/driver_windows_test.go
  input/key_test.go
Owners: @aymanbagabas

chore(input): go mod tidy
  go.work.sum
  input/go.mod
  input/go.sum
Owners: @aymanbagabas

chore(input): update godoc comments
  input/color.go
  input/da1.go
  input/focus.go
  input/input.go
  input/key.go
  input/mouse.go
Owners: @aymanbagabas

feat(ansi): add mouse button type and its encoding
  ansi/mouse.go
Owners: @aymanbagabas

feat(input): use ansi.MouseButton for mouse buttons
  input/mouse.go
  input/mouse_test.go
Owners: @aymanbagabas

feat(ansi): define invalid mouse button behavior and add tests
  ansi/mouse.go
  ansi/mouse_test.go
Owners: @aymanbagabas

feat(ansi): TruncateLeft
  ansi/truncate.go
  ansi/truncate_test.go
  go.work.sum
Owners: @aymanbagabas

fix(teatest): lint issues
  exp/teatest/teatest.go
Owners: @caarlos0

fix: tests
  exp/teatest/testdata/TestApp.golden
  exp/teatest/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

fix(teatest): lint issues (#302)
  exp/teatest/teatest.go
  exp/teatest/testdata/TestApp.golden
  exp/teatest/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0
