Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

fix(cellbuf): accurately calculate lines hashes
  cellbuf/hardscroll.go
  cellbuf/hashmap.go
  cellbuf/window.go
Owners: none

fix(cellbuf): clear attributes don't apply to colors
  cellbuf/cell.go
  cellbuf/window.go
Owners: none

fix(cellbuf): correct calculating el0 cost for clearing trailing spaces
  cellbuf/window.go
Owners: none

fix(cellbuf): choose the optimal cursor movement sequence
  cellbuf/window.go
Owners: none

feat(cellbuf): add tab stops to manage horizontal tab positions
  cellbuf/tabstop.go
  cellbuf/tabstop_test.go
Owners: none

feat(cellbuf): optimize cursor movements with hard tabs
  cellbuf/window.go
Owners: none

refactor: rename WaitForOutput function
  exp/teatest/app_test.go
  exp/teatest/teatest.go
  exp/teatest/teatest_test.go
Owners: @caarlos0

feat: wrap inner model to capture all messages
  exp/teatest/msg_buffer.go
  exp/teatest/msg_capture.go
  exp/teatest/teatest.go
Owners: @caarlos0

feat: add WaitForMsg function
  exp/teatest/teatest.go
Owners: @caarlos0

fix(cellbuf): screen tearing touching beyond cell width
  cellbuf/window.go
Owners: none

feat(cellbuf): add NewCellString and abstract NewGraphemeCell
  cellbuf/buffer.go
Owners: none

refactor(cellbuf): alias Rectangle to image.Rectangle
  cellbuf/geom.go
  cellbuf/screen_write.go
Owners: none

feat(cellbuf): use hard tabs for cursor movements optimization
  cellbuf/window.go
Owners: none

refactor(cellbuf): define Screen and Window types
  cellbuf/buffer.go
  cellbuf/cell.go
  cellbuf/screen.go
  cellbuf/screen_write.go
  cellbuf/window.go
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

fix(cellbuf): clear buffer to bottom
  cellbuf/screen.go
Owners: none

fix(cellbuf): calculate line hashes for screen clearBottom
  cellbuf/screen.go
Owners: none

fix(cellbuf): the last cell is always the last cell of the new buffer
  cellbuf/screen.go
Owners: none

fix(cellbuf): window: we don't need to move the cursor if it's hidden
  cellbuf/window.go
Owners: none

feat(ansi): cut
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

feat(ansi): cut (#319)
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(cellbuf): off by one error in screen resize
  cellbuf/screen.go
Owners: none

fix(cellbuf): SetContent should truncate the string if it doesn't fit in the window
  cellbuf/window.go
Owners: none

fix(cellbuf): wrap when the cursor is at the end of the window
  cellbuf/window.go
Owners: none

chore(ansi): add a few more Cut test cases
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

chore(ansi): add a few more Cut test cases
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

chore(ansi): if there's nothing to Cut, return the empty string
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

chore(ansi): if there's nothing to Cut, return the empty string (#321)
  ansi/truncate.go
  ansi/truncate_test.go
Owners: @aymanbagabas

fix(ansi): color: only return the first three bytes of the hex value
  ansi/color.go
  ansi/color_test.go
Owners: @aymanbagabas

feat(ansi): XTWINOPS and WindowOp functions
  ansi/winop.go
Owners: @aymanbagabas

feat(ansi): kitty graphics: implement basic protocol features
  ansi/graphics.go
  ansi/kitty/decoder.go
  ansi/kitty/encoder.go
  ansi/kitty/graphics.go
  ansi/kitty/options.go
Owners: @aymanbagabas

feat(ansi): kitty graphics: support unicode placeholders
  ansi/kitty/graphics.go
Owners: @aymanbagabas

feat(ansi): iterm2: add iTerm2 Inline Image Protocol
  ansi/iterm2.go
  ansi/iterm2/file.go
  ansi/iterm2/file_test.go
  ansi/iterm2_test.go
Owners: @aymanbagabas

fix(cellbuf): divide by zero error in move function
  cellbuf/screen.go
Owners: none

feat(ansi): XTWINOPS and WindowOp functions (#323)
  ansi/winop.go
Owners: @aymanbagabas

feat(ansi): iterm2: add iTerm2 Inline Image Protocol (#324)
  ansi/iterm2.go
  ansi/iterm2/file.go
  ansi/iterm2/file_test.go
  ansi/iterm2_test.go
Owners: @aymanbagabas

fix(ansi): kitty: options validation
  ansi/kitty/decoder_test.go
  ansi/kitty/encoder_test.go
  ansi/kitty/options.go
  ansi/kitty/options_test.go
Owners: @aymanbagabas

fix(ansi): kitty: closing file
  ansi/graphics.go
  ansi/graphics_test.go
Owners: @aymanbagabas

chore: exclude tests
  ansi/graphics_test.go
  ansi/kitty/decoder_test.go
  ansi/kitty/encoder_test.go
  ansi/kitty/options_test.go
Owners: @aymanbagabas

feat(ansi): kitty: support encoding.TextMarshaler and encoding.TextUnmarshaler
  ansi/kitty/options.go
  ansi/kitty/options_test.go
Owners: @aymanbagabas

feat(ansi): implement ReadColor function
  ansi/color.go
  ansi/color_test.go
Owners: @aymanbagabas
