Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

revert: changes in exp/term
  exp/term/input/focus.go
  exp/term/input/focus_test.go
Owners: none

feat: support FocusIn/FocusOut (#152)
  ansi/mode.go
  go.work.sum
  input/focus.go
  input/focus_test.go
  input/key_test.go
  input/parse.go
Owners: @aymanbagabas

refactor(colors): update to lipgloss alpha
  colors/colors.go
  colors/go.mod
  colors/go.sum
  go.work.sum
Owners: none

feat: add kitty keyboard set flags sequence
  ansi/kitty.go
Owners: @aymanbagabas

feat(ansi): xterm: modifyotherkeys
  ansi/xterm.go
Owners: @aymanbagabas

fix(ansi): kitty: godocs disabling mode
  ansi/kitty.go
Owners: @aymanbagabas

fix(ansi): kitty: remove SetKittyKeyboard
  ansi/kitty.go
Owners: @aymanbagabas

feat(windows): add windows console read api
  windows/syscall_windows.go
  windows/types_windows.go
  windows/zsyscall_windows.go
Owners: @aymanbagabas

feat(windows): add windows console read api
  windows/syscall_windows.go
  windows/types_windows.go
  windows/zsyscall_windows.go
Owners: @aymanbagabas

chore(term): drop input
  term/terminal.go
  term/terminal_test.go
Owners: @aymanbagabas

chore(term): drop input
  term/terminal.go
  term/terminal_test.go
Owners: @aymanbagabas

fix(input): use golang.org/x/sys/windows
  input/driver_windows.go
Owners: @aymanbagabas

refactor(ansi): change kitty flag name
  ansi/kitty.go
Owners: @aymanbagabas

feat(input): update kitty keyboard flag name
  input/kitty.go
Owners: @aymanbagabas

chore(term): go mod tidy
  term/go.mod
  term/go.sum
Owners: @aymanbagabas

feat(ansi): add cursor and mouse pointer shape sequences
  ansi/cursor.go
Owners: @aymanbagabas

chore(deps): update bubbletea to v0.27
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/teatest/testdata/TestApp.golden
  exp/teatest/testdata/TestAppSendToOtherProgram.golden
  go.work.sum
  sshkey/go.mod
  sshkey/go.sum
Owners: @caarlos0

chore(deps): update bubbletea to v0.27 (#161)
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/teatest/testdata/TestApp.golden
  exp/teatest/testdata/TestAppSendToOtherProgram.golden
  go.work.sum
  sshkey/go.mod
  sshkey/go.sum
Owners: @caarlos0

feat(ansi): add cursor and mouse pointer shape sequences
  ansi/cursor.go
Owners: @aymanbagabas

feat(ansi): add mode 2027
  ansi/mode.go
  ansi/parser_decode.go
Owners: @aymanbagabas

feat(ansi): add mode 2027
  ansi/mode.go
  ansi/parser_decode.go
Owners: @aymanbagabas

removed duplicate fixLineEndings
  exp/golden/golden.go
Owners: @caarlos0

changed location for testing
  exp/golden/go.mod
Owners: @caarlos0

fix: removed duplicate fixLineEndings
  exp/golden/golden.go
Owners: @caarlos0

fix(ansi): erase display consts names
  ansi/screen.go
Owners: @aymanbagabas

feat: add wcwidth package
  go.work
  go.work.sum
  wcwidth/go.mod
  wcwidth/go.sum
  wcwidth/wcwidth.go
  wcwidth/wcwidth_test.go
Owners: none

chore(ci): add ci workflows
  .github/dependabot.yml
  .github/workflows/wcwidth.yml
Owners: none

feat: add wcwidth package
  go.work
  go.work.sum
  wcwidth/go.mod
  wcwidth/go.sum
  wcwidth/wcwidth.go
  wcwidth/wcwidth_test.go
Owners: none

chore(ci): add ci workflows
  .github/dependabot.yml
  .github/workflows/wcwidth.yml
Owners: none

docs: add wcwidth to readme
  README.md
Owners: none

feat(ansi): add more style attributes
  ansi/style.go
  ansi/style_test.go
Owners: @aymanbagabas

chore(deps): bump github.com/charmbracelet/huh in /sshkey
  sshkey/go.mod
  sshkey/go.sum
Owners: none

feat(ansi): add more style attributes
  ansi/style.go
  ansi/style_test.go
Owners: @aymanbagabas

feat(ansi): add mode consts
  ansi/mode.go
Owners: @aymanbagabas

feat(ansi): add mode consts
  ansi/mode.go
Owners: @aymanbagabas

feat: add cellbuf package
  .github/dependabot.yml
  .github/workflows/cellbuf.yml
  README.md
  cellbuf/buffer.go
  cellbuf/buffer_string.go
  cellbuf/buffer_write.go
  cellbuf/cell.go
  cellbuf/color.go
  cellbuf/diff.go
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/method.go
  cellbuf/parser.go
  cellbuf/style.go
  go.work
Owners: none

feat: add cellbuf package
  .github/dependabot.yml
  .github/workflows/cellbuf.yml
  README.md
  cellbuf/buffer.go
  cellbuf/buffer_string.go
  cellbuf/buffer_write.go
  cellbuf/cell.go
  cellbuf/color.go
  cellbuf/diff.go
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/method.go
  cellbuf/parser.go
  cellbuf/style.go
  go.work
Owners: none

feat(teatest): use bubbletea@v2-exp
  exp/teatest/app_test.go
  exp/teatest/go.mod
  exp/teatest/go.sum
  exp/teatest/send_test.go
  exp/teatest/teatest.go
  exp/teatest/teatest_test.go
  exp/teatest/testdata/TestApp.golden
  exp/teatest/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

fix(ansi): remove unused
  ansi/parser.go
Owners: @aymanbagabas

feat(ansi): add parser pool to get/put parsers in a thread-safe manner
  ansi/parser_sync.go
Owners: @aymanbagabas

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
