Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

chore: remove old `lint:soft` and `lint:all` tasks
  Taskfile.yaml
Owners: none

chore: remove old `lint:soft` and `lint:all` tasks
  Taskfile.yaml
Owners: none

chore: update `go.work.sum`
  go.work.sum
Owners: none

chore: format taskfile
  Taskfile.yaml
Owners: none

chore(vt): update to use ultraviolet package
  vt/buffer.go
  vt/callbacks.go
  vt/cc.go
  vt/csi_cursor.go
  vt/csi_screen.go
  vt/csi_sgr.go
  vt/cursor.go
  vt/damage.go
  vt/go.mod
  vt/go.sum
  vt/handlers.go
  vt/key.go
  vt/mouse.go
  vt/screen.go
  vt/terminal.go
  vt/terminal_test.go
  vt/utf8.go
Owners: none

fix(vt): use colorful for color encoding
  vt/osc.go
  vt/terminal.go
Owners: none

fix(teatest2): update dependencies
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/teatest.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

chore(teatest): update dependencies
  exp/teatest/go.mod
  exp/teatest/go.sum
Owners: @caarlos0

fix(vt): ignore linter warnings
  vt/osc.go
  vt/terminal.go
  vt/utf8.go
Owners: none

fix(vt): make sure we clear touched lines on alt screen mode
  vt/csi_mode.go
Owners: none

fix(input): string terminated input sequence events
  input/driver_windows.go
  input/driver_windows_test.go
Owners: @aymanbagabas

fix(input): string terminated input sequence events (#497)
  input/driver_windows.go
  input/driver_windows_test.go
Owners: @aymanbagabas

fix(input): ensure we correctly handle st terminated sequences
  input/key_test.go
  input/parse.go
Owners: @aymanbagabas

refactor(ansi): move graphics to its own package and follow best practices
  ansi/graphics.go
  ansi/graphics_test.go
  ansi/iterm2/iterm2_test.go
  ansi/kitty/writer.go
  ansi/kitty/writer_test.go
Owners: @aymanbagabas

fix(input): possible nil pointer dereference in parseOsc
  input/parse.go
Owners: @aymanbagabas

fix(input): windows losing the first character
  input/driver_windows.go
Owners: @aymanbagabas

fix(input): windows losing the first character (#498)
  input/driver_windows.go
Owners: @aymanbagabas

fix(input): keep string-terminated state across reads
  input/driver.go
  input/osc11_linux_test.go
Owners: @aymanbagabas

test(input): OSC11 split across reads reproduces charmbracelet/bubbletea#1440
  input/osc11_linux_test.go
Owners: @aymanbagabas

test: add comprehensive split-read tests for string-terminated sequences
  input/key_test.go
  input/osc11_linux_test.go
Owners: @aymanbagabas

chore(exp/charmtone): rename Barbeque to BBQ
  exp/charmtone/charmtone.go
Owners: none

feat(exp/charmtone): add colors for additions and deletions
  exp/charmtone/charmtone.go
Owners: none

feat(exp/charmtone): add colors for additions and deletions
  exp/charmtone/charmtone.go
Owners: none

chore(exp/charmtone): rename Barbeque to BBQ
  exp/charmtone/charmtone.go
Owners: none

feat(exp/color): move gradient generator to its own package
  examples/charmtone/main.go
  exp/charmtone/charmtone.go
  exp/color/blend.go
  exp/color/go.mod
  exp/color/go.sum
  go.work
Owners: none

chore(exp/color): harden blend
  exp/color/blend.go
Owners: none

feat(exp/color): move gradient generator to its own package
  examples/charmtone/main.go
  exp/charmtone/charmtone.go
  exp/color/blend.go
  exp/color/go.mod
  exp/color/go.sum
  go.work
Owners: none

chore(exp/color): harden blend
  exp/color/blend.go
Owners: none

feat(examples/charmtone): output colors as css, scss, and vim 8 vars
  .gitignore
  examples/charmtone/guide.go
  examples/charmtone/main.go
  examples/go.mod
  examples/go.sum
  go.work.sum
Owners: none

Update examples/charmtone/guide.go
  examples/charmtone/guide.go
Owners: none

Update examples/charmtone/guide.go
  examples/charmtone/guide.go
Owners: none

feat(examples/charmtone): output colors as css, scss, and vim 8 vars
  .gitignore
  examples/charmtone/guide.go
  examples/charmtone/main.go
  examples/go.mod
  examples/go.sum
  go.work.sum
Owners: none

fix(vt): lint issues
  vt/cc.go
  vt/csi.go
  vt/focus.go
  vt/handlers.go
  vt/key.go
  vt/mouse.go
  vt/terminal.go
  vt/utf8.go
Owners: none

fix(termios): add support for AIX architectures
  termios/syscalls_bsd.go
  termios/syscalls_darwin.go
  termios/syscalls_linux.go
  termios/termios.go
  termios/termios_aix_ppc.go
  termios/termios_aix_ppc64.go
Owners: @caarlos0, @aymanbagabas

feat(teatest): support providing addl. tea.ProgramOption
  exp/teatest/v2/teatest.go
Owners: @caarlos0

feat(mosaic): option to maintain aspect ratio of image
  examples/mosaic/main.go
  mosaic/mosaic.go
Owners: none

feat(charmtone): generate nix attributes in the charmtone command
  examples/charmtone/main.go
Owners: none

docs(ansi): fix escape sequence for HorizontalPositionAbsolute
  ansi/cursor.go
Owners: @aymanbagabas

feat(windows): expose virtual key codes and consts for non-windows
  windows/types.go
  windows/types_windows.go
Owners: @aymanbagabas

Add plan9 support to x/term
  term/term_plan9.go
  term/term_test.go
Owners: @aymanbagabas
