Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

chore: ansi and cellbuf /vt
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
Owners: @caarlos0

fix: deps
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  go.work
Owners: @caarlos0

chore: update vt
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
Owners: @caarlos0

feat: updates
  exp/teatest/v2/app_test.go
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

feat: pass program options
  exp/teatest/v2/app_test.go
  exp/teatest/v2/teatest.go
Owners: @caarlos0

docs: update
  exp/teatest/v2/teatest.go
Owners: @caarlos0

fix: go work
  go.work
Owners: none

fix: cleanup
  exp/teatest/v2/teatest_test.go
Owners: @caarlos0

feat: altscreen handling
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/teatest.go
  go.work.sum
  vt/terminal.go
Owners: @caarlos0

feat(ansi): add Cmd and Param functions and tests
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

feat(ansi): add Colorizer interface to format color as string
  ansi/background.go
  ansi/background_test.go
Owners: @aymanbagabas

refactor!: use Parameter and Command types in Parser
  ansi/csi.go
  ansi/csi_test.go
  ansi/dcs.go
  ansi/osc.go
  ansi/osc_test.go
  ansi/parser.go
  ansi/parser_csi_test.go
  ansi/parser_dcs_test.go
  ansi/parser_decode.go
  ansi/parser_decode_test.go
  ansi/parser_osc_test.go
  ansi/parser_sync.go
  ansi/parser_test.go
  ansi/sequence.go
  cellbuf/screen_write.go
  cellbuf/utils.go
  vt/csi.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/csi_sgr.go
  vt/esc.go
  vt/focus.go
  vt/key.go
  vt/mode.go
  vt/mouse.go
  vt/osc.go
  vt/terminal.go
Owners: @aymanbagabas

fix(vt): buffer tests
  vt/buffer_test.go
Owners: none

refactor: rename AutowrapMode to AutoWrapMode
  ansi/mode.go
Owners: @aymanbagabas

feat(ansi): add TBC alias for TabClear
  ansi/screen.go
Owners: @aymanbagabas

refactor(vt): simplify command handling using ansi helpers
  vt/cc.go
  vt/csi.go
  vt/csi_mode.go
  vt/dcs.go
  vt/esc.go
  vt/osc.go
  vt/terminal.go
  vt/utf8.go
Owners: none

fix(ansi): return default value when param is not found
  ansi/parser.go
Owners: @aymanbagabas

fix(ansi): mouse sgr coordinates are 1-based
  ansi/mouse.go
Owners: @aymanbagabas

fix(ansi): parser: ensure we have a command for OSC sequences
  ansi/osc_test.go
  ansi/parser.go
  ansi/parser_osc_test.go
Owners: @aymanbagabas

fix(vt): log OSC command as integer
  vt/osc.go
Owners: none

feat(vt): add title and icon name callbacks
  vt/terminal.go
Owners: none

fix(vt): properly handle OSC 2, 10, 11, 12, 110, 111, 112
  vt/osc.go
Owners: none

Update exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest.go
Owners: @caarlos0

feat: Add sixel sequence object
  ansi/sixel.go
  ansi/sixel_test.go
Owners: @aymanbagabas

refactor(ansi)!: use a dispatcher function to handle sequences
  ansi/parser.go
  ansi/parser_apc_test.go
  ansi/parser_csi_test.go
  ansi/parser_dcs_test.go
  ansi/parser_decode_test.go
  ansi/parser_esc_test.go
  ansi/parser_osc_test.go
  ansi/parser_sync.go
  ansi/parser_test.go
Owners: @aymanbagabas

fix(ansi): make sure we have the correct number of parameters
  ansi/parser_decode.go
Owners: @aymanbagabas

refactor(ansi): tidy up parser and sequence types
  ansi/csi.go
  ansi/dcs.go
  ansi/osc.go
  ansi/parser.go
  ansi/sequence.go
Owners: @aymanbagabas

chore: examples: update parserlog examples
  examples/parserlog/main.go
  examples/parserlog2/main.go
Owners: none

chore(vt): use the new ansi.Parser API
  vt/csi.go
  vt/dcs.go
  vt/esc.go
  vt/osc.go
  vt/terminal.go
Owners: none

fix(ansi): reduce data buffer size to a reasonable value of 64KB
  ansi/parser.go
Owners: @aymanbagabas

fix(vt): handle zero parameters in CSI sequences
  vt/csi.go
  vt/csi_screen.go
Owners: none

feat(ansi): add SCS, locking shifts, and more modes
  ansi/c0.go
  ansi/charset.go
  ansi/mode.go
  ansi/reset.go
  ansi/screen.go
Owners: @aymanbagabas

feat(vt): add character set support
  vt/cc.go
  vt/charset.go
  vt/esc.go
  vt/terminal.go
  vt/utf8.go
Owners: none

feat(vt): implement the RIS to reset the terminal state
  vt/esc.go
  vt/screen.go
Owners: none

feat(vt): support left right margins and its mode
  vt/csi.go
  vt/csi_screen.go
Owners: none

chore(vt): rename deprecated ansi.CursorEnableMode to ansi.TextCursorEnableMode
  vt/csi_mode.go
  vt/terminal.go
Owners: none

fix(vt): add sleep to terminal read
  vt/terminal.go
Owners: none

feat(vt): add damage callbacks
  vt/csi_mode.go
  vt/csi_screen.go
  vt/damage.go
  vt/screen.go
  vt/terminal.go
  vt/utf8.go
Owners: none

fix(vt): autowrap at phantom columns
  vt/utf8.go
Owners: none

fix(vt): disable unsupported mouse encoding modes
  vt/mouse.go
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
