Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

chore: go mod tidy all packages
  vt/go.sum
Owners: none

feat: add vt scrollback
  vt/emulator.go
  vt/handlers.go
  vt/safe_emulator.go
  vt/screen.go
  vt/scrollback.go
  vt/scrollback_test.go
  vt/terminal.go
Owners: none

fixup: address ayman's comments
  vt/scrollback.go
Owners: none

use slices package
  vt/scrollback.go
Owners: none

feat(vt): add scrollback support (#793)
  vt/emulator.go
  vt/handlers.go
  vt/safe_emulator.go
  vt/screen.go
  vt/scrollback.go
  vt/scrollback_test.go
  vt/terminal.go
Owners: none

lint: fixup golang-ci lint
  vt/cc.go
  vt/csi_mode.go
  vt/emulator.go
  vt/focus.go
  vt/handlers.go
  vt/key.go
  vt/mouse.go
Owners: none

lint: fixup golang-ci lint (#794)
  vt/cc.go
  vt/csi_mode.go
  vt/emulator.go
  vt/focus.go
  vt/handlers.go
  vt/key.go
  vt/mouse.go
Owners: none

update to include reflow
  vt/csi.go
  vt/emulator.go
  vt/screen.go
  vt/scrollback.go
  vt/scrollback_test.go
  vt/utf8.go
Owners: none

remove uv changes dep
  vt/screen.go
  vt/scrollback.go
Owners: none

fixup gosec
  vt/emulator.go
Owners: none

address feedback
  vt/screen.go
  vt/scrollback.go
Owners: none

fmt, address feedback
  vt/screen.go
  vt/scrollback.go
  vt/scrollback_test.go
Owners: none

refactor: simplify Scrollback to store plain lines
  vt/screen.go
  vt/scrollback.go
Owners: none

dont use reserved word cap
  vt/scrollback.go
Owners: none

feat: update teatest v2 to use charm.land (#637)
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

chore(powernap): update lsp configs from nvim-lspconfig
  powernap/pkg/config/lsps.json
Owners: none

fix(ansi): Wordwrap breakpoint overflow when line is at limit
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

chore(powernap): update lsp configs from nvim-lspconfig
  powernap/pkg/config/lsps.json
Owners: none

chore(powernap): update lsp configs from nvim-lspconfig
  powernap/pkg/config/lsps.json
Owners: none

vt: reuse scrollback line buffers
  vt/scrollback.go
  vt/scrollback_test.go
Owners: none

Carry amux vt patches
  vt/LICENSE
  vt/callbacks.go
  vt/emulator.go
  vt/emulator_test.go
  vt/osc.go
  vt/reflow.go
  vt/regression_test.go
  vt/safe_emulator.go
  vt/screen.go
  vt/scrollback_test.go
  vt/terminal.go
Owners: none

Add agentic workflow infrastructure
  .agents/skills/pr-workflow/SKILL.md
  .claude/hooks/block-autonomous-backlog.sh
  .claude/hooks/post-pr-review.sh
  .claude/hooks/stop-checks.sh
  .claude/hooks/tdd-check.sh
  .claude/settings.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CLAUDE.md
Owners: none

fix(ansi): treat wide characters as breakable in Wrap and Wordwrap
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

fix(ansi): avoid trailing spaces before line breaks in wide char wrapping
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

chore(powernap): update lsp configs from nvim-lspconfig
  powernap/pkg/config/lsps.json
Owners: none

chore(scripts): update builds script to use codecov v6 and dependabot/fetch-metadata v3
  scripts/builds
  scripts/gomodtidy
Owners: @caarlos0

fix(ansi): width: always use grapheme finder for width calculation
  ansi/width.go
  ansi/width_test.go
Owners: @aymanbagabas

chore(powernap): update lsp configs from nvim-lspconfig
  powernap/pkg/config/lsps.json
Owners: none
