Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

remove quant
  ansi/go.mod
  ansi/go.sum
Owners: @aymanbagabas

remove go-sixel
  ansi/go.mod
  ansi/go.sum
Owners: @aymanbagabas

comment go-sixel
  ansi/sixel/sixel_bench_test.go
Owners: @aymanbagabas

Update ansi/sixel/decoder.go
  ansi/sixel/decoder.go
Owners: @aymanbagabas

remove ununsed stuff
  ansi/sixel/encoder.go
Owners: @aymanbagabas

add example
  examples/img2term/main.go
Owners: none

Add example img2term
  examples/img2term/main.go
Owners: none

proper format
  examples/img2term/main.go
Owners: none

fix first lint issue
  examples/layout/main.go
Owners: none

fixup! fix first lint issue
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

fixup! fixup! fix first lint issue
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

fixup! fixup! fixup! fix first lint issue
  examples/layout/main.go
Owners: none

fix: examples lint issues (#382)
  examples/cellbuf/main.go
  examples/layout/main.go
Owners: none

feat: add sixel to ansi package (#380)
  .gitignore
  ansi/fixtures/graphics/JigokudaniMonkeyPark.png
  ansi/go.mod
  ansi/go.sum
  ansi/graphics.go
  ansi/sixel/.gitattributes
  ansi/sixel/color.go
  ansi/sixel/color_test.go
  ansi/sixel/decoder.go
  ansi/sixel/encoder.go
  ansi/sixel/palette.go
  ansi/sixel/palette_sort.go
  ansi/sixel/palette_test.go
  ansi/sixel/raster.go
  ansi/sixel/raster_test.go
  ansi/sixel/repeat.go
  ansi/sixel/repeat_test.go
  ansi/sixel/sixel_bench_test.go
  ansi/sixel/sixel_test.go
  ansi/sixel/util.go
  examples/img2term/main.go
Owners: @aymanbagabas

chore(teatest/v2): update bubbletea/v2 and use WithWindowSize (#364)
  exp/teatest/v2/app_test.go
  exp/teatest/v2/go.mod
  exp/teatest/v2/go.sum
  exp/teatest/v2/send_test.go
  exp/teatest/v2/teatest.go
  exp/teatest/v2/teatest_test.go
  exp/teatest/v2/testdata/TestApp.golden
  exp/teatest/v2/testdata/TestAppSendToOtherProgram.golden
Owners: @caarlos0

fix(input): windows: mouse mode flag
  input/cancelreader_other.go
  input/cancelreader_windows.go
  input/driver.go
  input/parse.go
Owners: @aymanbagabas

fix(input): windows: mouse mode flag (#386)
  input/cancelreader_other.go
  input/cancelreader_windows.go
  input/driver.go
  input/parse.go
Owners: @aymanbagabas

fix(cellbuf): we don't need to restore pen styles after moving the cursor
  cellbuf/screen.go
Owners: none

chore(cellbuf): bump colorprofile to v0.2.2
  cellbuf/go.mod
  cellbuf/go.sum
Owners: none

feat: halfblocks graphics support
  ansi/halfblocks/.DS_Store
  ansi/halfblocks/encoder.go
  ansi/halfblocks/encoder_test.go
Owners: @aymanbagabas

feat: Add .DS_Store to .gitignore
  .gitignore
  ansi/halfblocks/.DS_Store
Owners: @aymanbagabas

chore: run gofumpt for all files
  ansi/sixel/encoder.go
  input/driver_windows_test.go
  xpty/conpty.go
  xpty/conpty_other.go
  xpty/conpty_windows.go
Owners: @aymanbagabas

chore: add taskfile to run fmt, lint and tests for all packages
  Taskfile.yaml
Owners: none

chore(lint): fix main linting issues
  ansi/sixel/encoder.go
  ansi/sixel/palette.go
  ansi/sixel/palette_sort.go
  ansi/sixel/util.go
  ansi/util.go
  cellbuf/hardscroll.go
  cellbuf/screen.go
  colors/colors.go
  conpty/doc.go
  editor/editor.go
  examples/cellbuf/main.go
  examples/layout/main.go
  exp/golden/golden.go
  exp/teatest/v2/teatest.go
  input/parse.go
  term/term_unix.go
  termios/termios_other.go
  vt/callbacks.go
  vt/screen.go
  vt/terminal.go
  xpty/pty_unix.go
Owners: @aymanbagabas, @caarlos0

chore: run gofumpt for all files
  ansi/sixel/encoder.go
  input/driver_windows_test.go
  xpty/conpty.go
  xpty/conpty_other.go
  xpty/conpty_windows.go
Owners: @aymanbagabas

chore(lint): fix main linting issues
  ansi/sixel/encoder.go
  ansi/sixel/palette.go
  ansi/sixel/palette_sort.go
  ansi/sixel/util.go
  ansi/util.go
  cellbuf/hardscroll.go
  cellbuf/screen.go
  colors/colors.go
  conpty/doc.go
  editor/editor.go
  examples/cellbuf/main.go
  examples/layout/main.go
  exp/golden/golden.go
  exp/teatest/v2/teatest.go
  input/parse.go
  term/term_unix.go
  termios/termios_other.go
  vt/callbacks.go
  vt/screen.go
  vt/terminal.go
  xpty/pty_unix.go
Owners: @aymanbagabas, @caarlos0

chore: add taskfile to run fmt, lint and tests for all packages
  Taskfile.yaml
Owners: none

feat(cellbuf): implement style aware text wrapping (#350)
  cellbuf/wrap.go
  cellbuf/wrap_test.go
Owners: none

feat: mosaic support (halfblocks)
  .gitignore
  ansi/mosaic/fixtures/.gitattributes
  ansi/mosaic/mosaic.go
  ansi/mosaic/mosaic_test.go
  examples/go.mod
  examples/mosaic/.gitattributes
  examples/mosaic/main.go
  examples/mosaic/pekinas.jpg
  go.work.sum
Owners: @aymanbagabas

add wish file
  .gitignore
  ansi/mosaic/fixtures/charm-wish.png
Owners: @aymanbagabas

mosaic as mod
  ansi/mosaic/fixtures/charm-wish.png
  examples/mosaic/main.go
  go.work
  go.work.sum
  mosaic/fixtures/.gitattributes
  mosaic/go.mod
  mosaic/go.sum
  mosaic/mosaic.go
  mosaic/mosaic_test.go
Owners: @aymanbagabas

update fixture
  .gitignore
Owners: none

fix: remove .gitattributes from examples/mosaic and mosaic/fixtures
  .gitattributes
  examples/mosaic/.gitattributes
  mosaic/fixtures/.gitattributes
Owners: none

feat: mosaic support (halfblocks) (#404)
  .gitattributes
  .gitignore
  examples/go.mod
  examples/mosaic/main.go
  examples/mosaic/pekinas.jpg
  go.work
  go.work.sum
  mosaic/go.mod
  mosaic/go.sum
  mosaic/mosaic.go
  mosaic/mosaic_test.go
Owners: none

chore(cellbuf): update `colorprofile`
  cellbuf/go.mod
  cellbuf/go.sum
Owners: none

fix: add fixtures for mosaic test
  mosaic/fixtures/charm-wish.png
Owners: none

fix: add fixtures for mosaic test (#405)
  mosaic/fixtures/charm-wish.png
Owners: none

feat: detect image protocol
  examples/img2term/main.go
  go.work
  graphics/detect.go
  graphics/go.mod
Owners: none

use x/term instead
  graphics/detect.go
  graphics/go.mod
  graphics/go.sum
Owners: none

fix(cellbuf): wrap: properly handle formatted spaces
  cellbuf/cell.go
  cellbuf/wrap.go
  cellbuf/wrap_test.go
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
