Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

feat(exp/slice): add `slice.Last` helper func
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

chore(exp/slice): fix lint
  exp/slice/slice.go
Owners: @meowgorithm

feat(ansi): support color conversion to 16 and 256 colors
  ansi/color.go
  ansi/color_test.go
Owners: @aymanbagabas

feat(ansi): support color conversion to 16 and 256 colors
  ansi/color.go
  ansi/color_test.go
Owners: @aymanbagabas

Fix check conversion color type before calculate
  ansi/color.go
Owners: @aymanbagabas

fix(ansi): conversion of indexed colors to basic colors in Convert16
  ansi/color.go
Owners: @aymanbagabas

feat(exp/slice): make `Last` return an additional bool
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(exp/slice): add `slice.Last` helper func (#443)
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

chore(exp/charmtone): fix lint (thanks, claudio)
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone/main.go
Owners: none

fix(cellbuf): break down xterm-like optimizations into capabilities
  cellbuf/hardscroll.go
  cellbuf/screen.go
Owners: none

fix(cellbuf): screen resize off by one error
  cellbuf/screen.go
Owners: none

feat(cellbuf): support onlcr mode
  cellbuf/screen.go
Owners: none

fix(input): space key should be "space" not " "
  input/key.go
  input/key_test.go
Owners: @aymanbagabas

fix(input): add missing Keystroke()
  input/key.go
Owners: @aymanbagabas

docs(mosaic): add README
  mosaic/README.md
Owners: none

docs(mosaic): update README
  mosaic/README.md
Owners: none

docs(ansi): add common attributes to PrimaryDeviceAttributes
  ansi/ctrl.go
Owners: @aymanbagabas

wip
  ansi/wrap.go
Owners: @aymanbagabas

chore(test): tidy mosaic test
  mosaic/mosaic_test.go
Owners: none

fix(test): use more idiomatic t.Errorf
  mosaic/mosaic_test.go
Owners: none

fix(lint): your move, linter
  mosaic/mosaic.go
Owners: none

fix(exp/charmtone): pin the right lipgloss v2 tag
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

fix(exp/charmtone): pin the right lipgloss v2 tag (#464)
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

feat(cellbuf): add a generic writer that keeps track of style state
  cellbuf/pen.go
  cellbuf/wrap.go
Owners: none

feat(exp/slice): add `slice.ContainsAny`
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(examples): add pen writer example
  examples/pen/main.go
Owners: none

docs(mosaic): add README (#454)
  mosaic/README.md
Owners: none

chore(test): tidy mosaic test (#463)
  mosaic/mosaic.go
  mosaic/mosaic_test.go
Owners: none

feat(exp/slice): add `slice.ContainsAny` (#465)
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

fixup! docs(mosaic): add README (#454)
  mosaic/README.md
Owners: none

fixup! docs(mosaic): add README (#454) (#468)
  mosaic/README.md
Owners: none

fix: Fix Wrap() for multi byte spaces
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

chore(charmtone/deps): bump Lip Gloss to latest v2-exp
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

chore(charmtone/lint): fix various lint issues
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone/main.go
Owners: none

chore(charmtone/deps): bump Lip Gloss to latest v2-exp
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

chore(charmtone/lint): fix various lint issues
  exp/charmtone/charmtone.go
  exp/charmtone/charmtone/main.go
Owners: none

fix(ansi): fix ansi.Wrap for multi byte spaces (#469)
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

fix: more fixes
  vt/screen.go
  vt/terminal.go
Owners: none

fix: actually use config
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
  vt/terminal.go
Owners: @caarlos0

fix: filenames
  .github/workflows/ansi.yml
  .github/workflows/cellbuf.yml
  .github/workflows/charmtone.yml
  .github/workflows/colors.yml
  .github/workflows/conpty.yml
  .github/workflows/editor.yml
  .github/workflows/errors.yml
  .github/workflows/examples.yml
  .github/workflows/golden.yml
  .github/workflows/higherorder.yml
  .github/workflows/input.yml
  .github/workflows/json.yml
  .github/workflows/maps.yml
  .github/workflows/mosaic.yml
  .github/workflows/open.yml
  .github/workflows/ordered.yml
  .github/workflows/slice.yml
  .github/workflows/sshkey.yml
  .github/workflows/strings.yml
  .github/workflows/teatest-v2.yml
  .github/workflows/teatest.yml
  .github/workflows/term.yml
  .github/workflows/termios.yml
  .github/workflows/vt.yml
  .github/workflows/wcwidth.yml
  .github/workflows/windows.yml
  .github/workflows/xpty.yml
  scripts/builds
Owners: @caarlos0
