Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

wip
  conpty/conpty_windows.go
  conpty/exec_windows.go
  input/driver.go
  term/term_windows.go
  termios/termios_other.go
  windows/syscall_windows.go
  windows/types_windows.go
  xpty/conpty_windows.go
Owners: @aymanbagabas, @caarlos0

perf(ansi): improve performance of wrap space handling
  ansi/wrap.go
Owners: @aymanbagabas

chore(ansi): add benchmark for ansi.Wrap performance
  ansi/wrap_test.go
Owners: @aymanbagabas

chore(ansi): add benchmark for ansi.Wrap performance
  ansi/wrap_test.go
Owners: @aymanbagabas

perf(ansi): improve performance of wrap space handling
  ansi/wrap.go
Owners: @aymanbagabas

feat(charmtone): add new color: Iron
  exp/charmtone/charmtone.go
Owners: none

feat(charmtone): add new color: Iron
  exp/charmtone/charmtone.go
Owners: none

feat(ansi): add NoZWJ width method
  ansi/method.go
  ansi/mode.go
  ansi/parser_decode.go
  ansi/truncate.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

chore: run `modernize`
  Taskfile.yaml
  ansi/graphics_test.go
  ansi/kitty/decoder.go
  ansi/kitty/options_test.go
  ansi/parser.go
  ansi/parser/seq.go
  ansi/parser/transition_table.go
  ansi/parser_decode.go
  ansi/parser_decode_test.go
  ansi/parser_osc_test.go
  ansi/parser_test.go
  ansi/passthrough.go
  ansi/sixel/decoder.go
  ansi/sixel/encoder.go
  ansi/sixel/palette.go
  ansi/sixel/palette_sort.go
  ansi/sixel/palette_test.go
  ansi/sixel/sixel_test.go
  ansi/width.go
  cellbuf/buffer.go
  cellbuf/hardscroll.go
  cellbuf/hashmap.go
  cellbuf/pen.go
  cellbuf/screen.go
  cellbuf/tabstop_test.go
  cellbuf/wrap.go
  cellbuf/wrap_test.go
  cellbuf/writer.go
  editor/editor.go
  examples/layout/main.go
  input/driver.go
  input/input.go
  input/key_test.go
  input/table.go
  sshkey/sshkey.go
  vt/buffer_test.go
  vt/csi_cursor.go
  vt/options.go
  vt/terminal_test.go
Owners: @aymanbagabas, @caarlos0

feat(ansi): add NoZWJ width method
  ansi/method.go
  ansi/mode.go
  ansi/parser_decode.go
  ansi/truncate.go
  ansi/width.go
  ansi/wrap.go
Owners: @aymanbagabas

fix(ansi): remove Colorizer and simplify color handling using strings
  ansi/background.go
  ansi/background_test.go
Owners: @aymanbagabas

chore(tone): move charmtone example to examples directory
  examples/charmtone/main.go
Owners: none

fix(tone): divide by zero possible in BlendColors
  exp/charmtone/charmtone.go
Owners: none

fix(tone): remove lipgloss dependency
  exp/charmtone/charmtone.go
Owners: none

fix(tone): format and go mod tidy
  exp/charmtone/charmtone.go
  exp/charmtone/go.mod
  exp/charmtone/go.sum
Owners: none

feat(toner): add initial implementation
  exp/toner/go.mod
  exp/toner/go.sum
  exp/toner/toner.go
Owners: none

feat(examples): add toner example
  examples/go.mod
  examples/go.sum
  examples/toner/main.go
Owners: none

feat(toner): make colorization more efficient using writer
  exp/toner/toner.go
Owners: none

chore: do not ignore `testdata/`
  .gitignore
  exp/golden/testdata/TestTypes/SliceOfBytes.golden
  exp/golden/testdata/TestTypes/String.golden
Owners: @caarlos0

feat(exp/golden): accept strings on `RequireEqual`
  exp/golden/golden.go
  exp/golden/golden_test.go
Owners: @caarlos0

chore: fix linting
  exp/golden/golden.go
Owners: @caarlos0

chore: fix linting
  exp/golden/golden.go
Owners: @caarlos0

feat(exp/golden): accept strings on `RequireEqual`
  exp/golden/golden.go
  exp/golden/golden_test.go
Owners: @caarlos0

chore: do not ignore `testdata/`
  .gitignore
  exp/golden/testdata/TestTypes/SliceOfBytes.golden
  exp/golden/testdata/TestTypes/String.golden
Owners: @caarlos0

feat(toner): filter out some colors
  exp/toner/toner.go
Owners: none

refactor(ansi): encapsulate color types
  ansi/background.go
Owners: @aymanbagabas

refactor(vt): use uv and drop mutexes
  vt/buffer.go
  vt/buffer_test.go
  vt/callbacks.go
  vt/cc.go
  vt/cell.go
  vt/csi_cursor.go
  vt/csi_mode.go
  vt/csi_screen.go
  vt/csi_sgr.go
  vt/cursor.go
  vt/damage.go
  vt/go.mod
  vt/go.sum
  vt/handlers.go
  vt/key.go
  vt/mouse.go
  vt/screen.go
  vt/terminal.go
  vt/terminal_test.go
  vt/utf8.go
Owners: none

fix(vt): update xrgb color handling
  vt/osc.go
Owners: none

refactor(vt): remove unused Damage callback
  vt/callbacks.go
  vt/csi_mode.go
  vt/handlers.go
  vt/osc.go
  vt/screen.go
  vt/terminal.go
Owners: none

feat(vt): use io.Pipe for terminal output
  vt/csi.go
  vt/focus.go
  vt/handlers.go
  vt/key.go
  vt/mouse.go
  vt/osc.go
  vt/terminal.go
Owners: none

feat(vt): use ansi.Modes type for modes and add docs
  vt/mode.go
Owners: none

feat(vt): use uv.Buffer instead of Buffer, fix cursor state, and expose Touched
  vt/screen.go
Owners: none

refactor(vt): tidy up terminal.go
  vt/terminal.go
Owners: none

fix(vt): remove unnecessary string conversion
  vt/utf8.go
Owners: none

feat(vt): remove options.go and integrate logger directly into terminal
  vt/options.go
  vt/terminal.go
Owners: none

fix(vt): add logger to terminal
  vt/terminal.go
  vt/terminal_test.go
Owners: none

fix(vt): cursor style handling
  vt/handlers.go
Owners: none

fix(vt): properly handle key events and use UV key types
  vt/key.go
  vt/terminal.go
Owners: none

refactor(exp/slice): test as an external package
  exp/slice/slice_test.go
Owners: @meowgorithm

feat(exp/slice): add `Shift`, `Pop` and `DeleteAt`
  exp/slice/slice.go
  exp/slice/slice_test.go
Owners: @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
