Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

fix(cellbuf): empty cells mean no styles as well
  cellbuf/grid.go
Owners: none

refactor(cellbuf): rename At to Cell and Set to SetCell
  cellbuf/buffer.go
  cellbuf/grid.go
  cellbuf/grid_write.go
Owners: none

fix(cellbuf): remove spaceStyleEqual hack from Cell.Equal
  cellbuf/cell.go
Owners: none

fix(cellbuf): we should write pending content on style and link changes
  cellbuf/grid.go
Owners: none

fix(cellbuf): fill wide cells with spaces when partially overwritten
  cellbuf/buffer.go
  cellbuf/grid_write.go
Owners: none

fix(cellbuf): setting ghost cells should be done in SetCell
  cellbuf/buffer.go
  cellbuf/grid_write.go
Owners: none

refactor(cellbuf): simplify SetContent
  cellbuf/grid.go
  cellbuf/grid_write.go
Owners: none

refactor(ansi): change Scanner remove TokenType
  ansi/scanner.go
  ansi/scanner_test.go
Owners: @aymanbagabas

fix(ansi.Scanner): correction for 0 width control characters.
  ansi/scanner.go
  ansi/scanner_test.go
Owners: @aymanbagabas

feat(ansi): add Scanner for splitting ANSI encoded strings.
  ansi/scanner.go
  ansi/scanner_test.go
Owners: @aymanbagabas

refactor(ansi): changes to Scanner
  ansi/scanner.go
Owners: @aymanbagabas

refactor(cellbuf): rename grid to screen and clean up
  cellbuf/grid_write.go
  cellbuf/method.go
  cellbuf/screen.go
  cellbuf/screen_write.go
Owners: none

chore(deps): cellbuf: bump ansi from 0.3.2 to 0.4.0
  cellbuf/go.mod
  cellbuf/go.sum
Owners: none

fix: compat layer for ansi 0.3->0.4 migration
  ansi/cursor.go
Owners: @aymanbagabas

ci(lint): remove deprecated linter
  .golangci.yml
Owners: none

fix: lint issue
  exp/teatest/teatest.go
Owners: @caarlos0

Update ansi/cursor.go
  ansi/cursor.go
Owners: @aymanbagabas

fix: compat layer for ansi 0.3->0.4 migration (#225)
  ansi/cursor.go
Owners: @aymanbagabas

fix(ansi): ensure OSC command number is parsed when needed
  ansi/parser_decode.go
  ansi/parser_decode_test.go
Owners: @aymanbagabas

feat(cellbuf): add color profile support
  cellbuf/go.mod
  cellbuf/go.sum
  cellbuf/link.go
  cellbuf/screen.go
  cellbuf/style.go
Owners: none

fix: set cursor style sequence
  ansi/cursor.go
Owners: @aymanbagabas

feat: add OSC 9 notifications
  ansi/notification.go
Owners: @aymanbagabas

fix: set cursor style sequence (#229)
  ansi/cursor.go
Owners: @aymanbagabas

Update ansi/notification.go
  ansi/notification.go
Owners: @aymanbagabas

Update ansi/notification.go
  ansi/notification.go
Owners: @aymanbagabas

feat: add OSC 9 notifications (#230)
  ansi/notification.go
Owners: @aymanbagabas

Revert "fix: set cursor style sequence (#229)"
  ansi/cursor.go
Owners: @aymanbagabas

Revert "fix: set cursor style sequence (#229)" (#231)
  ansi/cursor.go
Owners: @aymanbagabas

feat(ansi): add HomeCursorPosition constant
  ansi/cursor.go
Owners: @aymanbagabas

fix(ansi): tab is a zero-width character
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

fix(ansi): param should return -1 if missing
  ansi/parser_decode.go
Owners: @aymanbagabas

fix(ansi): tab is a zero-width character (#238)
  ansi/wrap.go
  ansi/wrap_test.go
Owners: @aymanbagabas

feat(cellbuf): add Bubblezone support
  cellbuf/cell.go
  cellbuf/screen.go
  cellbuf/screen_write.go
Owners: none

feat(ansi): add SetZone function for setting the bubblezone id
  ansi/zone.go
Owners: @aymanbagabas

docs(ansi): deprecate CursorOrigin
  ansi/cursor.go
Owners: @aymanbagabas

chore(cellbuf): update ansi dependency to v0.4.4
  cellbuf/go.mod
  cellbuf/go.sum
Owners: none

chore: revert "feat(ansi): add SetZone function for setting the bubblezone id"
  ansi/zone.go
Owners: @aymanbagabas

chore: revert "feat(cellbuf): add Bubblezone support"
  cellbuf/cell.go
  cellbuf/screen.go
  cellbuf/screen_write.go
Owners: none

feat(cellbuf): add Window type
  cellbuf/window.go
Owners: none

feat(cellbuf): add window example
  examples/window/main.go
Owners: none

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas
