Repository charmbracelet/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aymanbagabas, @caarlos0, @meowgorithm

.github/CODEOWNERS:

/ansi @aymanbagabas
/conpty @aymanbagabas
/editor @caarlos0
/errors @caarlos0
/exp/golden @caarlos0
/exp/higherorder @meowgorithm
/exp/ordered @meowgorithm
/exp/slice @meowgorithm
/exp/strings @meowgorithm
/exp/teatest @caarlos0
/input @aymanbagabas
/scripts @caarlos0
/term @aymanbagabas
/termios @caarlos0 @aymanbagabas
/windows @aymanbagabas
/xpty @aymanbagabas

fix: lint
  examples/cellbuf/main.go
  examples/go.mod
  examples/go.sum
  examples/layout/main.go
  examples/pony/advanced/main.go
  examples/pony/alignment/main.go
  examples/pony/bubbletea/main.go
  examples/pony/buttons/main.go
  examples/pony/components/main.go
  examples/pony/custom/main.go
  examples/pony/dynamic/main.go
  examples/pony/hello/main.go
  examples/pony/helpers/main.go
  examples/pony/interactive-form/main.go
  examples/pony/layout/main.go
  examples/pony/scrolling-markup/main.go
  examples/pony/scrolling-with-clicks/main.go
  examples/pony/scrolling/main.go
  examples/pony/simple-bubbletea/main.go
  examples/pony/stateful/main.go
  examples/pony/styled/main.go
Owners: none

chore: rm gitignroes
  examples/pony/alignment/.gitignore
  examples/pony/bubbletea/.gitignore
  examples/pony/buttons/.gitignore
  examples/pony/components/.gitignore
  examples/pony/custom/.gitignore
  examples/pony/dynamic/.gitignore
  examples/pony/hello/.gitignore
  examples/pony/helpers/.gitignore
  examples/pony/interactive-form/.gitignore
  examples/pony/layout/.gitignore
  examples/pony/scrolling/.gitignore
  examples/pony/simple-bubbletea/.gitignore
  examples/pony/stateful/.gitignore
  examples/pony/styled/.gitignore
Owners: none

feat(etag): add Matches
  etag/etag.go
  etag/etag_test.go
Owners: none

fix(ansi): add nil case guards for color functions
  ansi/style.go
Owners: @aymanbagabas

chore(ansi): add test for nil colors in Style
  ansi/style_test.go
Owners: @aymanbagabas

fix(vt): fallback to standard colors if nil is provided
  vt/emulator.go
Owners: none

fix: race condition in cmd.Wait
  powernap/pkg/lsp/client.go
Owners: none

feat(editor): go to position
  editor/editor.go
  editor/editor_test.go
Owners: @caarlos0

test: update
  editor/editor_test.go
Owners: @caarlos0

docs: update
  editor/editor.go
Owners: @caarlos0

feat(editor): go to position, default editor for windows (#707)
  editor/editor.go
  editor/editor_test.go
Owners: @caarlos0

fix(powernap): ignore expected shutdown errors
  powernap/pkg/registry/registry.go
Owners: none

fix(powernap): ignore expected shutdown errors (#715)
  powernap/pkg/registry/registry.go
Owners: none

fix(powernap): race condition
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_test.go
Owners: none

fix: err handling
  powernap/pkg/lsp/client.go
Owners: none

fix(powernap): race condition (#716)
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_test.go
Owners: none

fix(powernap): lint
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_test.go
  powernap/pkg/lsp/protocol.go
  powernap/pkg/lsp/protocol/interface.go
  powernap/pkg/lsp/protocol/pattern_interfaces.go
  powernap/pkg/lsp/protocol/tables.go
  powernap/pkg/lsp/protocol/tsdocument-changes.go
  powernap/pkg/lsp/protocol/uri.go
  powernap/pkg/lsp/sync.go
  powernap/pkg/lsp/types.go
  powernap/pkg/transport/connection.go
  powernap/pkg/transport/transport.go
Owners: none

fix(powernap): lint (#717)
  powernap/pkg/lsp/client.go
  powernap/pkg/lsp/client_test.go
  powernap/pkg/lsp/protocol.go
  powernap/pkg/lsp/protocol/interface.go
  powernap/pkg/lsp/protocol/pattern_interfaces.go
  powernap/pkg/lsp/protocol/tables.go
  powernap/pkg/lsp/protocol/tsdocument-changes.go
  powernap/pkg/lsp/protocol/uri.go
  powernap/pkg/lsp/sync.go
  powernap/pkg/lsp/types.go
  powernap/pkg/transport/connection.go
  powernap/pkg/transport/transport.go
Owners: none

docs: update readme
  README.md
Owners: none

feat(powernap): import lsps from nvim-lspconfig
  .github/workflows/powernap-update-lsp-configs.yml
  powernap/pkg/config/config.go
  powernap/pkg/config/config_test.go
  powernap/pkg/config/lsps.json
  powernap/scripts/extract-lsp-configs.sh
Owners: none

Revert "feat(powernap): import lsps from nvim-lspconfig"
  .github/workflows/powernap-update-lsp-configs.yml
  powernap/pkg/config/config.go
  powernap/pkg/config/config_test.go
  powernap/pkg/config/lsps.json
  powernap/scripts/extract-lsp-configs.sh
Owners: none

Reapply "feat(powernap): import lsps from nvim-lspconfig"
  .github/workflows/powernap-update-lsp-configs.yml
  powernap/pkg/config/config.go
  powernap/pkg/config/config_test.go
  powernap/pkg/config/lsps.json
  powernap/scripts/extract-lsp-configs.sh
Owners: none

fix: get settings and init options as well
  .github/workflows/powernap-update-lsp-configs.yml
  powernap/pkg/config/config.go
  powernap/pkg/config/config_test.go
  powernap/pkg/config/lsps.json
  powernap/pkg/config/overrides.go
  powernap/scripts/extract-lsp-configs.lua
  powernap/scripts/extract-lsp-configs.sh
Owners: none

refactor: simplify
  powernap/pkg/config/config.go
  powernap/pkg/config/config_test.go
  powernap/pkg/config/lsps.json
  powernap/pkg/config/overrides.go
  powernap/scripts/extract-lsp-configs.lua
Owners: none

fix: slop
  powernap/pkg/config/config.go
  powernap/pkg/config/overrides.go
Owners: none

fix: slop
  powernap/pkg/config/config.go
Owners: none

fix: issues
  powernap/pkg/config/lsps.json
  powernap/scripts/extract-lsp-configs.lua
Owners: none

Update .github/workflows/powernap-update-lsp-configs.yml
  .github/workflows/powernap-update-lsp-configs.yml
Owners: none

feat(ansi): kitty: add ChunkFormatter option
  ansi/kitty/options.go
  ansi/kitty/writer.go
Owners: @aymanbagabas

docs: update readme (#718)
  README.md
Owners: none

feat(ansi): add ANSI sequence function generator
  ansi/internal/gen/cmd/seqgen/main.go
  ansi/internal/gen/generator.go
  ansi/internal/gen/spec.go
Owners: @aymanbagabas

feat(ansi): gen: add no-format flag and optimize constant sequences
  ansi/internal/gen/cmd/seqgen/main.go
  ansi/internal/gen/generator.go
Owners: @aymanbagabas

feat(ansi): generate terminal modes in ansi package
  ansi/internal/gen/generator.go
  ansi/internal/gen/spec.go
  ansi/sequences.yaml
Owners: @aymanbagabas

feat: add `strings.ContainsAnyOf`
  exp/strings/contains.go
  exp/strings/contains_test.go
  exp/strings/join_test.go
Owners: @meowgorithm

feat: add `strings.ContainsAnyOf` (#728)
  exp/strings/contains.go
  exp/strings/contains_test.go
  exp/strings/join_test.go
Owners: @meowgorithm

fix(seqgen): move seqgen to its own module
  ansi/go.mod
  ansi/go.sum
  ansi/internal/seqgen/go.mod
  ansi/internal/seqgen/go.sum
Owners: @aymanbagabas

fix(ansi): move sequence generator from 'gen' to 'seqgen' package
  ansi/internal/seqgen/generator.go
  ansi/internal/seqgen/main.go
  ansi/internal/seqgen/spec.go
Owners: @aymanbagabas

feat(ansi): generate sequences using the seqgen tool
  ansi/background.go
  ansi/charset.go
  ansi/clipboard.go
  ansi/clipboard_test.go
  ansi/ctrl.go
  ansi/ctrl_test.go
  ansi/cursor.go
  ansi/cursor_test.go
  ansi/cwd.go
  ansi/cwd_test.go
  ansi/hyperlink.go
  ansi/hyperlink_test.go
  ansi/inband.go
  ansi/inband_test.go
  ansi/iterm2.go
  ansi/mode.go
  ansi/sequences.go
  ansi/style.go
Owners: @aymanbagabas

feat(ansi): sequences: add iterator and reader for ANSI escape sequences
  ansi/go.mod
  ansi/internal/iterators/iterator.go
  ansi/internal/iterators/iterator_test.go
  ansi/parser_decode.go
  ansi/sequences/iterator.go
  ansi/sequences/reader.go
  ansi/sequences/reader_test.go
  ansi/sequences/splitfunc.go
Owners: @aymanbagabas

feat(ansi): sequences: add callbacks to Scanner for parsed params, commands, data, and control characters
  ansi/sequences/iterator.go
  ansi/sequences/reader.go
  ansi/sequences/splitfunc.go
Owners: @aymanbagabas
